  <%- include('../include/admin-header-top') %>


  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style>
  .file-manager {
    display: flex;
    width: 920px;
    flex-wrap: wrap;
  }
  .gallery-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;

  }
  .gallery-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 30px;
  }
  .gallery-thumb {
    text-align: center;
    border: 1px ridge #0000003d;
    padding: 15px 0px;
    background-color: #fff;

  }
  .gallery-description{

    margin-top: 10px;
  }
  .gallery-thumb img{
    width: 50%
  }
  .galleryPreview img {
    width: 25%;
  }
  .add-newColor {
    margin : 20px 0;
    font-size: 3rem;
  }
  .modal-button {
    text-align: right;
  }
  .modal-button a {
    margin-left: 10px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #fff;
  }
  
  .form-product-add {
    margin-top: 30px;
    width: 100%;
    float: left;
    padding: 0 10%;
  }

  .form-product-add>span {
    font-size: 1.6rem;
    width: 15%;
    float: left;
  }
  .form-product-add-input>a {
    font-size: 5rem;
  }
  .form-product-add-input>img , .productImages-upload>img {
    width: 25%;
  }

  .form-product-color-content img {
    width: 25%
  }
  .form-product-color-content {
    margin-bottom: 20px;
  }
  .form-product-color-content input {
    width: 35%;
    padding-left : 10px;
  }
  .form-product-color-content p{
    padding: 10px 0 20px 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .form-product-color-content span {
   padding: 10px 0 20px 0;
   font-size: 1.6rem;
   font-weight: 600;
   display: inline-block;
   width: 20%;
 }
 .form-product-add>input  , .form-product-add>textarea{
  border-radius: 5px;
  border : none;
  padding: 5px 0;
  width: 79%;
  padding-left: 20px;
  float: left;
}
.form-product-add>textarea {
  height: 150px;
}
.form-product-add>input:focus , .form-product-add>textarea:focus{
  outline: none;
}
.form-product-add-input {
  width: 79%;
  display: inline-block;
}
.form-product-add-select{
  width: 79%;
  display: inline-block;
}
.form-product-add-select select{
  width: 100%;
}
.active {
  margin-bottom: 20px;
}

.active-block {
  margin-left: 15.1%;
}
input.status-active {
  width: 5%!important;
}
span.label {
  width: 5%!important;
  font-size: 90%!important;
}
.button-active {
  float: left;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 40px;
}
.button-active a {
  display: inline-block;
  font-size: 2rem;
  padding: 10px 30px;
  background-color: #dd4b39;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Thêm sản phẩm
    </h1>
  </section>

  <!-- Main content -->
  <section class="content ">

    <div class="container content-edit">     
     <!--  <form class="form-productAdd" role = "form" action="/admin/product/addProduct" method="post" enctype="multipart/form-data"> -->
      <div class="form-product-add">
        <span>Tên sản phẩm</span>
        <input id="new-productName" type="text" name="productName" value="">
      </div>
      <div class="form-product-add">
        <span>Hình ảnh đại diện</span>
        <div class="form-product-add-input">
          <!-- <input type="file" id = "fileImage" name="fileImages" value="" style="width: 85%;">
            <img src="" class="productImage-upload" > -->
            <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductThumb" onclick="listFileManager()"> 
              <i class="fa fa-edit"></i>
            </button>
            <div class="image-thumb" style="margin-top: 20px">

              <img id="image-thumb-product">

            </div>
          </div>
        </div>
        <div class="form-product-add">
          <span>Loại sản phẩm</span>
          <div class="form-product-add-select">
            <select class="status-active select-category js-example-basic-multiple" name="productCategory[]" multiple="multiple" >
              <%if(category && category.length){%>

              <%for(var i = 0 ; i < category.length ; i++){%>
              <div class="active">
                <option value="<%=category[i]._id%>">
                  <%=category[i].categoryName%>
                </option>
              </div>
              <%}%>
              <%}%>
            </select>

          </div>
        </div>

        <div class="form-product-add">
          <span>Nhãn hiệu</span>
          <div class="form-product-add-input">
            <%if(brand && brand.length){%>
            <%for(var i = 0 ; i < brand.length ; i++){%>
            <div class="active">
              <input class="status-active" type="radio" name="productBrand" value="<%=brand[i]._id%>">
              <span class="label label-info"><%=brand[i].brandName%></span>
            </div>
            <%}%>
            <%}%>

          </div>
        </div>
      <!-- <div class="form-product-add">
        <span>Banner</span>
        <input type="file" id = "fileBanner" name="fileBanner" value="" style="width: 85%;">
        <img src="" class="productBanner-upload" >
      </div> -->
      <div class="form-product-add">
        <span>Màu sắc</span>
        <div class="form-product-add-input">
          <%if(color && color.length){%>
          <%for(var i = 0 ; i < color.length ; i++){%>
          <div class="active">
            <input class="status-active status-active-<%=color[i]._id%>" type="checkbox" name="productColor" value="<%=color[i]._id%>" onclick=showUpload('<%=color[i]._id%>') >
            <span class="label label-info"><%=color[i].colorName%></span>
            <div class="form-product-color form-product-color-<%=color[i]._id%>" style="padding-top: 20px;" >
              <div class="form-product-color-content form-product-color-image">
                <p>Vui lòng tải các ảnh của sản phẩm tương ứng màu đã chọn</p>
                <input class="fileImages" type="file" multiple  id = "fileImages-<%=color[i]._id%>" name="fileImages[]" value="" style="width: 85%;">
                <div class="productImages-upload-<%=color[i]._id%>" ></div>
              </div>
              <div class="form-product-color-content form-product-color-price">
                <span>Giá tiền</span>
                <input class="product-input-price productPrice-<%=color[i]._id%>" id="new-price" type="number" name="price" value="" min="1">
              </div>
              <div class="form-product-color-content form-product-color-price">
               <span>Khuyến mãi (%)</span>
               <input class="product-input-promotion productPromotion-<%=color[i]._id%>" id="new-promotion" type="number" name="promotion" value="" placeholder="0" min="0" max="50">
             </div>
             <div class="form-product-color-content form-product-color-price">
              <span>Số lượng</span>
              <input class="product-input-quantity productQuantity-<%=color[i]._id%>" id="new-quantity" type="number" name="quantity" value="" min="1">
            </div>
          </div>
        </div> 
        <%}%>
        <%}%>

      </div>
    </div>

    <div class="form-product-add">
      <span>Mô tả</span>
      <textarea id="new-description" name="description" ></textarea>
    </div>

    <div class="form-user-add button-active">
      <a href="javascript:void(0)" onclick="postProductAdd()">Thêm Sản Phẩm</a>
    </div>


  </div>


  <div class="all-modal">
    <!--Modal thumb upload product-->
    <!-- Modal -->
    <div id="modalProductThumb" class="modal fade" role="dialog">
      <div class="modal-dialog" style="width: 950px">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="float:left ; width: 50%;">Quản lý hình ảnh</h4>
            <div class="modal-button" style="float:left ; width: 50%;">
              <input type="text" name="search-gallery-text" id="search-gallery" placeholder="Nhập tên hình ảnh" style="padding-left: 10px;">

              <a id = "uploadImages" style="cursor: pointer;" ><span class="label label-primary"><i class="fa fa-upload"></i></span></a>
              <input type="file" name="files" id="file" value="" style="display: none;" multiple /> 

              <a style="cursor: pointer;" onclick="saveImages()"><span class="label label-primary"><i class="fa fa-save"></i></span></a>

              <a style="cursor: pointer;" onclick="removeImages()"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>
            </div>
          </div>
          <div class="modal-body" >

            <div class="file-manager">

            </div>
            <div class="" style="text-align: center;" id="pagination-list-gallery">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../include/admin-footer') %>

<%- include('../include/admin-control-sidebar') %>

<%- include('../include/admin-js.ejs') %>


<script type="text/javascript">
  $("#uploadImages").bind("click",function () {
    $("#file").click();
  });

  $('#file').on("change", function(event){
    if(event.target && event.target.files && event.target.files[0]){
      let file = event.target.files[0]
      console.log(file)
      const temporaryFileReader = new FileReader()
      return new Promise((resolve, reject) => {
        if (file.type) {
          temporaryFileReader.onerror = (e) => {
            // console.log(e)
            temporaryFileReader.abort()
            reject('Lỗi')
          }

          temporaryFileReader.onload = (e) => {
           
            var formData = new FormData();

            $.each($("#file")[0].files, function(i, file) {
              formData.append('files', file);
            });

           // console.log(formData)

           $.ajax({
            url: '/admin/product/uploadImages',
            type: 'post',
            data: formData,
            contentType:false,
            processData:false

          }).done(function(results){
            if (results.status == true) {
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo ảnh thành công</span>',
              });
            }else{
              $.alert({
                title: 'Thông Báo !',
                content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
              })
            }

          })
          resolve()
        }
        temporaryFileReader.readAsDataURL(file);
      } else {
        resolve()
      }
    })
    }
  })



  // function uploadImages(){
  //  var formData = new FormData();
  // // formData.append('newImages[]',images);
  // $.each($("#file")[0].files, function(i, file) {
  //   formData.append('files', file);
  // });

  // console.log(formData)

  // $.ajax({
  //   url: '/admin/product/uploadImages',
  //   type: 'post',
  //   data: formData,
  //   contentType:false,
  //   processData:false
  //     // dataType: 'json',
  //   }).done(function(results){
  //     if (results.status == true) {
  //       $.confirm({
  //         title: 'Thông Báo!',
  //         content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo ảnh thành công</span>',
  //         buttons: {
  //           Ok: function () {
  //             // $.alert('Ok');

  //           }
  //         }
  //       });
  //     }else{
  //       $.alert({
  //         title: 'Thông Báo !',
  //         content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
  //       })
  //     }

  //   })

  // }

  $('#search-gallery').keyup(function() {
   listFileManager(1);
 });


  function listFileManager(page){


   var search_image = $('#search-gallery').val()
   $.ajax({
    url: '/admin/product/listFileManager',
    type: 'GET',
    data: {
      page : page,
      search_image : search_image
    },
    dataType: 'json',
  }).done(function(results){
    if (results.status) {

        // console.log(results.status);

        var xhtml = '';


        if (results.listFileManager && results.listFileManager.length) {
          for (var i = 0 ;  i <= results.listFileManager.length - 1; i++) {
            xhtml += '<div class="gallery-item">';
            xhtml += ' <div class="gallery-thumb">';
            xhtml += '<img src="'+'/upload/thumbProduct/'+results.listFileManager[i].galleryName+'">'
            xhtml += '</div>';
            xhtml += '<div class="gallery-description" >'
            xhtml += '<p class="gallery-name" style="font-weight:600;text-align:center">'+results.listFileManager[i].galleryName+'</p>'
            xhtml += '</div>'
            xhtml += '<div class="gallery-check" style="text-align: center;">'
            xhtml += '<input type="radio" name="galleryThumb" value="'+results.listFileManager[i].galleryName+'"">'
            xhtml += '</div>'
            xhtml += '</div>';

          }
          $(".file-manager").html(xhtml)
        }
      }else{
       $(".file-manager").html('Không tìm thấy!');
     }


     if(results.totalPage > 1) {
      var pagiHtml = '';
      pagiHtml ='<ul class="pagination">';
      if (results.page != 1){ 
        var pagePriv = parseInt(results.page) - 1; 
        pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager(1)""><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
        pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
      }

      var _begin =  results.page - 8; 
      var _end = results.page + 8;
      if (_begin < 1){ 
        _begin = 1;
      }
      if (_end > results.totalPage ) {
        _end = results.totalPage;
      } 
      for (var i = _begin; i <= _end; i++) {
        if(results.page == i) { 
          pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
        } else { 
          pagiHtml += '<li><a href="javascript:void(0)" onclick="listFileManager('+ i +')">'+i+'</a></li>';
        }
      } 
      if (results.page < results.totalPage ) {
        var pageNext = parseInt(results.page) + 1; 
        pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
        pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
      } 
      pagiHtml += '</ul>';

      $('#pagination-list-gallery').html(pagiHtml);
    } else {
      $('#pagination-list-gallery').html('');
    }
  })
}


function saveImages(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();
  $.ajax({
    url: '/admin/product/addImageThumb',
    type: 'post',
    data: {
      imageThumb : imageThumb
    },
    dataType: 'json',
  }).done(function(results){
    console.log(results);
    if (results.status == true) {
      $('#image-thumb-product').attr('src','/upload/thumbProduct/'+results.data+'')
      $.confirm({
        title: 'Thông Báo!',
        content: '<span class="text-success"><strong class="fa fa-check"></strong>Thêm ảnh thành công</span>',
        buttons: {
          Ok: function () {
              // $.alert('Ok');
              $('#modalProductThumb').modal('hide')
            }
          }
        });

    }else{
      $.alert({
        title: 'Thông Báo !',
        content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>'
      })

    }
  })
}

function removeImages(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();
  $.confirm({
    title : 'Xác nhận !',
    content : 'Bạn có chắc chắn muốn xóa danh mục sản phẩm này',
    buttons: {
      'Đồng Ý': function () {
        $.ajax({
          url: '/admin/product/removeImageThumb',
          type: 'post',
          data: {
            imageThumb : imageThumb
          },
          dataType: 'json',
        }).done(function(results){
          if (results.status) {
            $.alert({
              title: 'Thông Báo!',
              content: '<span class="text-success"><strong class="fa fa-check"></strong>Xóa ảnh thành công</span>'
            })
            $("#modalProductThumb").modal("hide");
            $("#modalProductThumb .modal-body").load(target, function() { 
             $("#modalProductThumb").modal("show"); 
           });

          }else{
            $.alert({
              title: 'Thông Báo!',
              content: '<span class="text-danger"><strong class="fa fa-close"></strong>Xóa thất bại </span>'
            })
          }
        })
      },
      'Hủy Bỏ': function () {
      },
    }
  })
}

</script>

<script>


  function postProductAdd() {

    var productName = $("input[name=productName]").val();
    // var productThumb =  $('#fileImage')[0].files[0];
    var productCategory = $(".select-category").val(); 
    var productBrand = $("input[name=productBrand]:checked").val(); 

    var productColor = [];
    $('input[name=productColor]:checked').each(function() {
      productColor.push($(this).val());
    });
      // console.log(productColor);


      var colorImages = [];
      var colorPrice = [];
      var colorPromotion = [];
      var colorQuantity = []
      for (var i = 0; i < productColor.length; i++) {
        colorImages.push($('.fileImages')[i].files);
        colorPrice.push($('.productPrice-'+productColor[i]).val());
        colorPromotion.push($('.productPromotion-'+productColor[i]).val());
        colorQuantity.push($('.productQuantity-'+productColor[i]).val());
      }

      console.log(colorImages)
     // console.log(colorPrice)
     // console.log(colorPromotion)
     // console.log(colorQuantity)


     var description = $("textarea[name=description]").val();


     var formData = new FormData();
     // formData.append('fileImages',productThumb)
     formData.append('productName', productName)
     formData.append('productCategory', productCategory)
     formData.append('productBrand', productBrand)
     formData.append('productColor', productColor)
     formData.append('fileImages[]',colorImages)
     formData.append('colorPrice', colorPrice)
     formData.append('colorPromotion', colorPromotion)
     formData.append('colorQuantity', colorQuantity)
     formData.append('description', description)

     console.log(formData)

     $.ajax({
      url: '/admin/product/addProduct',
      type: 'post',
      data: formData,
      contentType:false,
      processData:false
      // dataType: 'json',
    }).done(function(results){
      if (results.status == true) {
        $.confirm({
          title: 'Thông Báo!',
          content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo sản phẩm thành công</span>',
          buttons: {
            Ok: function () {
              // $.alert('Ok');
              window.location.replace("/admin/product/list");
            }
          }
        });
      }else{
        $.alert({
          title: 'Thông Báo !',
          content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
        })
      }

    })

  }



</script>

<script type="text/javascript">



  //preview image product
  function readURLImage(input) {

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('.productImage-upload').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#fileImage").change(function() {
    readURLImage(this);
  });

//preview images products
$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {

      if (input.files) {
        var filesAmount = input.files.length;

        for (i = 0; i < filesAmount; i++) {
          var reader = new FileReader();

          reader.onload = function(event) {
            $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
          }

          reader.readAsDataURL(input.files[i]);
        }
      }

    };
    var color =  <%-JSON.stringify(color)%>;
    // console.log($(`#fileImages-${color[3]._id}`));
    if (color && color.length) {
      for (var ii = 0; ii < color.length; ii++) {

        (function(boxIndex){
          $(`#fileImages-${color[boxIndex]._id}`).on('change', function() {
            imagesPreview(this, `.productImages-upload-${color[boxIndex]._id}`);

          });
      })(ii); //this is IIFE syntax  (function(args){})(input);


        // console.log(color[ii]._id);
      }

    }
  });

// js select2
$(document).ready(function() {
  $('.js-example-basic-multiple').select2();
});

// click color show/hide 

</script>

<script type="text/javascript">
  // click color show/hide 
  var color =  <%-JSON.stringify(color)%>;
  if (color && color.length) {
    for (var i = 0; i < color.length; i++) {
      $(`.form-product-color-${color[i]._id}`).hide()
    }
  }

  function showUpload(id) {
    // console.log($(`.status-active-${id}`).is(":checked"))
    // console.log(id)
    // console.log($(`.status-active-${id}`))
    if($(`.status-active-${id}`).is(":checked") == true){
      $(`.form-product-color-${id}`).show(500)
    }else{
     $(`.form-product-color-${id}`).hide(500); 
   }
 }

</script>

<script type="text/javascript">
 $(function () {
  $( ".product-input-price" ).change(function() {
    var min = parseInt($(this).attr('min'));
    if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});

 $(function () {
  $( ".product-input-quantity" ).change(function() {
    var min = parseInt($(this).attr('min'));
    if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});

 $(function () {
  $( ".product-input-promotion" ).change(function() {
    var max = parseInt($(this).attr('max'));
    var min = parseInt($(this).attr('min'));
    if ($(this).val() > max)
    {
      $(this).val(max);
    }
    else if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});
</script>