  <%- include('../include/admin-header-top') %>


  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style>

  .form-product-edit {
    margin-top: 30px;
    width: 100%;
    float: left;
    padding: 0 10%;
  }
  .form-product-edit>span {
    font-size: 1.6rem;
    width: 15%;
    float: left;
  }
  .form-product-add-input>a {
    font-size: 5rem;
  }
  .form-product-add-input>img {
    width: 100%;
  }
  .form-product-edit>input  , .form-product-edit>textarea{
    border-radius: 5px;
    border : none;
    padding: 5px 0;
    width: 40%;
    padding-left: 20px;
    float: left;
  }
  .form-product-edit>textarea {
    height: 150px;
  }
  .form-product-edit>input:focus , .form-product-edit>textarea:focus{
    outline: none;
  }
  .form-product-add-input {
    width: 80%;
    display: inline-block;
  }
  .active {
    margin-bottom: 20px;
  }

  .active-block {
    margin-left: 15.1%;
  }
  input.status-active {
    width: 5%!important;
  }
  span.label {
    width: 5%!important;
    font-size: 90%!important;
  }
  .button-active {
    float: left;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .button-active a {
    display: inline-block;
    font-size: 2rem;
    padding: 10px 30px;
    background-color: #dd4b39;
    color: #fff;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }


</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cập nhật thông tin sản phẩm
    </h1>
  </section>

  <!-- Main content -->
  <section class="content ">

    <div class="container content-edit">     
      <div class="form-product-edit">
        <span>Tên sản phẩm</span>
        <input id="new-productName" type="text" name="productName" value="<%=product.productName%>">
      </div>
      <div class="form-product-edit">
        <span>Hình ảnh</span>
        <div class="form-product-add-input">
          <input type="file" id = "fileImage" name="fileImage" value="" style="width: 85%;">
          <img src="/upload/thumbProduct/<%=product.productThumb%>" class="productImage-upload" >
        </div>
      </div>
      <div class="form-product-edit">
        <span>Loại sản phẩm</span>
        <div class="form-product-add-input">
          <%if(category && category.length){%>
          <%for(var i = 0 ; i < category.length ; i++){%>
          <div class="active">
            <input class="status-active" type="radio" name="productCategory" value="<%=category[i]._id%>" 
            <%if(JSON.stringify(product.productCategory) ==  JSON.stringify(category[i]._id)){%>checked <%}%> 
            >
            <span class="label label-info"><%=category[i].categoryName%></span>
          </div>
          <%}%>
          <%}%>
          
        </div>
      </div>
      <div class="form-product-edit">
        <span>Loại sản phẩm</span>
        <div class="form-product-add-input">
          <%if(brand && brand.length){%>
          <%for(var i = 0 ; i < brand.length ; i++){%>
          <div class="active">
            <input class="status-active" type="radio" name="productBrand" value="<%=brand[i]._id%>" 
            <%if(JSON.stringify(product.productBrand) ==  JSON.stringify(brand[i]._id)){%>checked <%}%> 
            >
            <span class="label label-info"><%=brand[i].brandName%></span>
          </div>
          <%}%>
          <%}%>
          
        </div>
      </div>
      
      <div class="form-product-edit">
        <span>Màu sắc</span>
        <div class="form-product-add-input">
          <%if(color && color.length){%>
          <%for(var i = 0 ; i < color.length ; i++){%>
          <div class="active">
            <input class="status-active" type="radio" name="productColor" value="<%=color[i]._id%>" 
            <%if(JSON.stringify(product.productColor) ==  JSON.stringify(color[i]._id)){%>checked <%}%> 
            >
            <span class="label label-info"><%=color[i].colorName%></span>
          </div>
          <%}%>
          <%}%>
          
        </div>
      </div>
      <div class="form-product-edit">
        <span>Giá tiền</span>
        <input id="new-price" type="number" name="price" value="<%=product.price%>">
      </div>
      <div class="form-product-edit">
        <span>Số lượng</span>
        <input type="number" name="quantity" value="<%=product.quantity%>">
      </div>
      <div class="form-product-edit">
        <span>Số lượt mua</span>
        <input type="number" name="numberPurchased" value="<%=product.numberPurchased%>">
      </div>
      <div class="form-product-edit">
        <span>Mô tả</span>
        <textarea id="new-description" name="description" value="<%product.description%>" ></textarea>
      </div>

      <div class="form-user-add button-active">
        <a href="javascript:void(0)" onclick="updateProduct('<%=product._id%>')">Cập Nhật</a>
      </div>

    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../include/admin-footer') %>

<%- include('../include/admin-control-sidebar') %>

<%- include('../include/admin-js.ejs') %>


<script type="text/javascript">


  function updateProduct(id) {

    var productName = $("input[name=productName]").val();
    var productCategory = $("input[name=productCategory]:checked").val(); 
    var productColor = $("input[name=productColor]:checked").val();
    var price = $("input[name=price]").val();
    var quantity = $("input[name=quantity]").val();
    var productBrand = $("input[name=productBrand]:checked").val(); 
    var description = $("textarea[name=description]").val();
    var numberPurchased = $("input[name=numberPurchased]").val();
    var thumb =  $('input[type=file]')[0].files[0];
    var formData = new FormData();
    var id = id;
    formData.append('id',id)
    formData.append('fileImage',thumb)
    formData.append('productName', productName)
    formData.append('productCategory', productCategory)
    formData.append('productColor', productColor)
    formData.append('price', price)
    formData.append('quantity', quantity)
    formData.append('numberPurchased', numberPurchased)
    formData.append('productBrand', productBrand)
    formData.append('description', description)


    console.log(formData)

    $.ajax({
      url: '/admin/product/edit',
      type: 'post',
      data: formData,
      contentType:false,
      processData:false
      // dataType: 'json',
    }).done(function(results){
      console.log(results);
      if (results.status == true) {
        $.confirm({
          title: 'Thông báo!',
          content:'<span class="text-success"><strong class="fa fa-check"></strong> Cập nhật thành công !</span>',
          buttons: {
            'Ok': function () {
              window.location.replace('/admin/product/list');
            }
          }
        });
      }else{
        console.log(results)
        $.alert({
          title: 'Thông Báo !',
          content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors+'</span>',
        })
      }
    })
  }



</script>

<script type="text/javascript">

 function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('.productImage-upload').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#fileImage").change(function() {
  readURL(this);
});



</script>



<!-- <script>
  $('.jconfirm-buttons').(function(){
    window.location.href = "http://www.google.com";
  })
</script> -->