  <%- include('../include/admin-header-top') %>


  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style>
  .menu-product >ul >li >a {
    color: #555;
  }
  .specifications-content  {
    float: left;
    width: 100%;
  }
  .specifications-details {
    float: left;
    width: 100%;
  }
  .specifications-content-form  {
    float: left;
    width: 47%;
    margin : 20px 0;
  }
  .details-product {
    padding-bottom:   50px  ;
  }
  .details-product-title {
    padding: 50px 0 25px 0;
  }
  .details-product-form {
    width: 100%;
    float: left;
  }
  .details-productInfo-item ,  {
    width: 100%;
    float: left;
    padding : 20px 0;
    border-bottom: 1px solid #c1c1c1;
  }
  .form-product-color-block {
    display: block!important;
  }
  .file-manager , .file-manager-images {
    display: flex;
    width: 920px;
    flex-wrap: wrap;
  }
  .gallery-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;

  }
  .gallery-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 30px;
  }
  .gallery-thumb {
    text-align: center;
    border: 1px ridge #0000003d;
    padding: 15px 0px;
    background-color: #fff;

  }
  .gallery-description{

    margin-top: 10px;
  }
  .gallery-thumb img{
    width: 50%
  }
  .galleryPreview img {
    width: 25%;
  }
  .add-newColor {
    margin : 20px 0;
    font-size: 3rem;
  }
  .modal-button {
    text-align: right;
  }
  .modal-button a {
    margin-left: 10px;
  }
  .select2-container .select2-selection--single {
    height: 35px;
  }
  
  .form-product-add {
    margin-top: 30px;
    width: 100%;
    float: left;
    padding: 0 10%;
  }

  .form-product-add>span {
    font-size: 1.6rem;
    width: 15%;
    float: left;
  }
  .form-product-add-input>a {
    font-size: 5rem;
  }
  .form-product-add-input>img , .productImages-upload>img {
    width: 25%;
  }

  .form-product-color-content img {
    width: 25%
  }
  .form-product-color-content {
    margin-bottom: 20px;
  }
  .form-product-color-content input {
    width: 35%;
    padding-left : 10px;
  }
  .form-product-color-content p{
    padding: 10px 0 20px 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .form-product-color-content span {
   padding: 10px 0 20px 0;
   font-size: 1.6rem;
   font-weight: 600;
   display: inline-block;
   width: 20%;
 }
 .form-product-add>input  , .form-product-add>textarea{
  border-radius: 5px;
  border : none;
  padding: 5px 0;
  width: 79%;
  padding-left: 20px;
  float: left;
}
.form-product-add>textarea {
  height: 150px;
}
.form-product-add>input:focus , .form-product-add>textarea:focus{
  outline: none;
}
.form-product-add-input {
  width: 79%;
  display: inline-block;
}
.form-product-add-select{
  width: 79%;
  display: inline-block;
}
.form-product-add-select select{
  width: 100%;
}
.active {
  margin-bottom: 20px;
}

.active-block {
  margin-left: 15.1%;
}
input.status-active {
  width: 5%!important;
}
span.label {
  width: 5%!important;
  font-size: 90%!important;
}
.button-active {
  float: left;
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 40px;
}
.button-active a {
  display: inline-block;
  font-size: 2rem;
  padding: 10px 30px;
  background-color: #dd4b39;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cập nhật sản phẩm
    </h1>
    <span class="label label-primary" style="float: right;font-size: 2rem!important;cursor: pointer;" onclick="postProductEdit('<%=product._id%>')"><i class="fa fa-save"></i></span>


  </section>

  <!-- Main content -->
  <section class="content ">
   <div class="menu-product">
    <ul class="nav nav-tabs">
      <li id="over-view" class="active"><a href="#">Tổng quan</a></li>
      <li id="details-view"><a href="#">Giới thiệu</a></li>
      <li id="productInfo-view"><a href="#">Tính năng</a></li>
      <li id="specifications-view"><a href="#">Thông số kĩ thuật</a></li>

    </ul>
  </div>

  <div class="container content-edit">     
   <!--  <form class="form-productAdd" role = "form" action="/admin/product/addProduct" method="post" enctype="multipart/form-data"> -->
    <div class="overview-edit" style="width: 100%;float: left;">
      <div class="form-product-add">
        <span>Tên sản phẩm</span>
        <input id="new-productName" type="text" name="productName" value="<%=product.productName%>">
      </div>
      <div class="form-product-add">
        <span>Hình ảnh đại diện</span>
        <div class="form-product-add-input">
          <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductThumb" onclick="listFileManager(1)"> 
            <i class="fa fa-edit"></i>
          </button>
          <div class="image-thumb" style="margin-top: 20px">

            <img id="image-thumb-product" style="width: 25%;" src="/upload/thumbProduct/<%=product.productThumb%>">

          </div>
        </div>
      </div>
      <div class="form-product-add">
        <span>Loại sản phẩm</span>
        <div class="form-product-add-select">

          <select class="status-active select-category js-example-basic-multiple" name="productCategory">
            <%if(category && category.length){%>
            <%for(var i = 0 ; i < category.length ; i++){%>
            <div class="active">
              <option value="<%=category[i]._id%>">
                <%=category[i].categoryName%>
              </option>
            </div>
            <%}%>
            <%}%>
          </select>

        </div>
      </div>

      <div class="form-product-add">
        <span>Nhãn hiệu</span>
        <div class="form-product-add-input">

          <%if(brand && brand.length){%>
          <%for(var i = 0 ; i < brand.length ; i++){%>
          <div class="active">
            <input class="status-active" type="radio" name="productBrand" value="<%=brand[i]._id%>" <%if(JSON.stringify(product.productBrand) == JSON.stringify(brand[i]._id)){%>checked<%}%> >
            <span class="label label-info"><%=brand[i].brandName%></span>
          </div>

          <%}%>
          <%}%>


        </div>
      </div>
      <!-- <div class="form-product-add">
        <span>Banner</span>
        <input type="file" id = "fileBanner" name="fileBanner" value="" style="width: 85%;">
        <img src="" class="productBanner-upload" >
      </div> -->
      <div class="form-product-add">
        <span>Màu sắc</span>

        <div class="form-product-add-input">
          <%if(color && color.length){%>
          <%for(var i = 0 ; i < color.length ; i++){%>
          <div class="active">

           <%if(product.productColor && product.productColor.length){%>
           <%for(var j = 0 ; j < product.productColor.length ; j++){%>
           <%if(color[i]._id.toString() == product.productColor[j].colorId.toString()){%>
           <input class="status-active status-active-<%=color[i]._id%>" type="checkbox" name="productColor" value="<%=color[i]._id%>" checked="checked" onclick=showUpload('<%=color[i]._id%>')>
           <span class="label label-info"><%=color[i].colorName%></span>
           <div class="form-product-color form-product-color-<%=color[i]._id%>" style="padding-top: 20px;" >
             <div class="form-product-color-content form-product-color-image" style="width: 100%;margin-top: 20px">
              <span>Ảnh sản phẩm</span>
              <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductImages" onclick=listFileManagerImages(1,'<%=color[i]._id%>')> 
                <i class="fa fa-edit"></i>
              </button>
              <div class="imagesProduct-<%=color[i]._id%>">
                <% for (var l = 0; l < product.productColor[j].colorImages.length; l++) {%>
                <div class="image-product" style="margin-top: 20px ; width: 100%;">
                  <img style="width: 90%;" src="/upload/thumbProduct/<%=product.productColor[j].colorImages[l]%>" >
                  <span class="remove-image glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;width: 21px;color:#dd4b39;margin-left : 5%"></span>
                </div>
                <%}%>
              </div>
            </div>
            <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
              <span>Giá tiền</span>
              <input class="product-input-price" id="productPrice-<%=color[i]._id%>" type="number" name="price" value="<%=product.productColor[j].colorPrice%>" min="1">
            </div>
            <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
             <span>Khuyến mãi (%)</span>
             <input class="product-input-promotion" id="productPromotion-<%=color[i]._id%>" type="number" name="promotion" value="<%=product.productColor[j].colorPromotion%>" min="0" max="50">
           </div>
           <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
            <span>Số lượng</span>
            <input class="product-input-quantity" id="productQuantity-<%=color[i]._id%>" type="number" name="quantity" value="<%=product.productColor[j].colorQuantity%>" min="0">
          </div>
          <div class="form-product-color-content form-product-color-numberpurchased" style="width: 100%;margin-top: 20px">
            <span>Đã bán</span>
            <input class="product-input-quantity" id="productQuantity-<%=color[i]._id%>" type="number" name="quantity" value="<%=product.productColor[j].colorNumberPurchased%>" min="1">
          </div>

        </div>
        <%}%>
        <%}%>
        <%}%>
        <%if(colorLeft && colorLeft.length){%>
        <%for(var k=0;k<colorLeft.length;k++){%>
        <%if(color[i]._id.toString() == colorLeft[k]){%>
        <input class="status-active status-active-<%=color[i]._id%>" type="checkbox" name="productColor" value="<%=color[i]._id%>" onclick=showUpload('<%=color[i]._id%>') >
        <span class="label label-info"><%=color[i].colorName%></span>
        <div class="form-product-color form-product-color-<%=color[i]._id%>" style="padding-top: 20px;">
          <div class="form-product-color-content form-product-color-image" style="width: 100%;margin-top: 20px">
            <span>Ảnh sản phẩm</span>
            <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductImages" onclick=listFileManagerImages(1,'<%=color[i]._id%>')> 
              <i class="fa fa-edit"></i>
            </button>
            <div class="imagesProduct-<%=color[i]._id%>">

            </div>
          </div>
          <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
            <span>Giá tiền</span>
            <input class="product-input-price" id="productPrice-<%=color[i]._id%>" type="number" name="price" value="" min="1">
          </div>
          <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
           <span>Khuyến mãi (%)</span>
           <input class="product-input-promotion" id="productPromotion-<%=color[i]._id%>" type="number" name="promotion" value="0" min="0" max="50">
         </div>
         <div class="form-product-color-content form-product-color-price" style="width: 100%;margin-top: 20px">
          <span>Số lượng</span>
          <input class="product-input-quantity" id="productQuantity-<%=color[i]._id%>" type="number" name="quantity" value="" min="1">
        </div>
        <div class="form-product-color-content form-product-color-numberpurchased" style="width: 100%;margin-top: 20px">
          <span>Đã bán</span>
          <input class="product-input-quantity" id="productQuantity-<%=color[i]._id%>" type="number" name="quantity" value="" min="1">
        </div>

      </div>
      <%}%>
      <%}%>
      <%}%>
    </div> 
    <%}%>
    <%}%>
  </div>
</div>

<div class="form-product-add">
  <span>Mô tả</span>
  <textarea id="new-description" name="description" ><%=product.productDescription%></textarea>
</div>
</div>




<div class="feturesview-edit" style="width: 100%;float: left; display: none;">
  <div class="details-product col-xs-12">
    <div class="details-product-title">
      <h2 style="text-align: center;">Giới thiệu</h2>
    </div>
    <div class="details-product-form">
     <div class="form-product-add">
      <span>Slogan giới thiệu</span>

      <input id="fetures_slogan" type="text" name="fetures_slogan" value="<%=product.productFeturesSolgan%>">
    </div>
    <div class="form-product-add">
      <span>Ảnh nền</span>
      <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductFeturesBackground" onclick="listFileManager(1)"> 
        <i class="fa fa-edit"></i>
      </button>
      <div class="fetures-background" style="margin-top: 20px">
        <img id="image-fetures-background" style="width: 50%;" src="<%=product.productFeturesBanner%>">
      </div>
    </div>
    <div class="form-product-add">
      <span>Link nhúng video</span>
      <input id="fetures_link" type="text" name="fetures_link" value="<%=product.productFeturesLink%>">
    </div>
  </div>
</div>
</div>

<div class="productInfo-edit" style="width: 100%;float: left;display: none;">
  <div class="details-product col-xs-12">
    <div class="details-product-title">
      <h2 style="text-align: center;">Tính năng</h2>
    </div>
    <div class="details-product-form details-productInfo-form">
     <div class="form-product-add">
      <span>Hình ảnh</span>
      <button type="button" class="btn btn-info btn-lg" style="padding: 5px 10px;" data-toggle="modal" data-target="#modalProductInfoImage" onclick="listFileManager(1)"> 
        <i class="fa fa-edit"></i>
      </button>
      <div class="fetures-background" style="margin-top: 20px">
        <img id="image-productInfo-image" style="width: 50%;" src="<%=product.productInfoImage%>">
      </div>
    </div>
    <%if(product.productInfo && product.productInfo.length){%>
    <%for(var i = 0 ; i < product.productInfo.length ; i++){%>
    <div class="details-productInfo-item">
      <div class="form-product-add">
        <span>Tên tính năng</span>
        <input class="productInfo-slogan" type="text" name="productInfo-slogan" value="<%=product.productInfo[i].productInfoName%>">
      </div>
      <div class="form-product-add">
        <span>Mô tả tính năng</span>
        <textarea class="productInfo-description" style="height: 80px;"><%=product.productInfo[i].productInfoDescription%></textarea>
      </div>
      <span class="remove-productInfo-input glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;margin-left:10%;margin-top:30px;color:#dd4b39;"></span>

    </div>
    <%}%>
    <%}%>
    
  </div>
  <div class="details-product-form details-productInfoButton-form">
    <div class="form-product-add">
      <button onclick="productInfoAdd()" style="padding: 5px 10px;background-color: #00c0ef;border:none;"><i class="fa fa-plus" style="color: #fff; font-size: 2rem;"></i></button>
    </div>
  </div>
</div>
</div>

<div class="specifications-edit" style="width: 100%;float: left;display: none;">
  <div class="details-product col-xs-12">
    <div class="details-product-title">
      <h2 style="text-align: center;">Thông số kĩ thuật</h2>
    </div>
    <div class="details-product-form details-specifications-form">
      <%if(specifications && specifications.length){%>
      <%for(var i=0 ; i<specifications.length ;i++){%>
      <%if(product.productSpecifications && product.productSpecifications.length){%>
      <%for(var j = 0 ; j < product.productSpecifications.length ; j++){%>
      <%if(product.productSpecifications[j].productSpecificationsId.toString() == specifications[i]._id.toString()){%>
      <div class="form-product-add" style="border-bottom: 1px solid #c1c1c1; padding: 20px 10%;">

       <input class="status-active specifications-active-<%=specifications[i]._id%>" type="checkbox" name="productSpecifications" value="<%=specifications[i]._id%>" onclick=showSpecifications('<%=specifications[i]._id%>') checked >
       <span class="label label-default" style="width: auto!important; font-size: 2rem!important;"><%=specifications[i].specificationsName%></span>
       <div class="specifications-content specifications-content-<%=specifications[i]._id%>" style="display: none;">
        <div class="specifications-details-form specifications-details-form-<%=specifications[i]._id%>" style ="float: left;width: 100%;">
          <%for(var k = 0 ; k < product.productSpecifications[j].productSpecificationsContent.length ; k++){%>
          <div class="specifications-details specifications-details-<%=specifications[i]._id%>">
            <div class="specifications-content-form">
              <span style="float: left;width: 15%">Kiểu</span>
              <input class="specificationsMenu-<%=specifications[i]._id%>" type="text" name="specificationsMenu" style="float: left;width: 70%;" value="<%=product.productSpecifications[j].productSpecificationsContent[k].productSpecificationsMenu%>" >
            </div>
            <div class="specifications-content-form">
              <span style="float: left;width: 15%">Mô tả</span>
              <textarea class="specificationsDescription-<%=specifications[i]._id%>" style="float: left;width: 70%;"><%=product.productSpecifications[j].productSpecificationsContent[k].productSpecificationsDescription%></textarea>
            </div>
            <span class="remove-specifications-content glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;float: left;width: 5%;color:#dd4b39;margin: 20px 0"></span>

          </div>
          <%}%>

        </div>

        <button onclick=specificationsContentAdd('<%=specifications[i]._id%>') style="display:block;padding: 5px 10px;background-color: #00c0ef;border:none;"><i class="fa fa-plus" style="color: #fff; font-size: 2rem;"></i></button>
      </div>

    </div>
    <%}%>
    <%}%>
    <%}%> 

    <%if(specificationsLeft && specificationsLeft.length) {%>
    <%for(var l = 0 ; l < specificationsLeft.length ; l++){%>
    <%if(specificationsLeft[l] == specifications[i]._id.toString()){%>
    <div class="form-product-add" style="border-bottom: 1px solid #c1c1c1; padding: 20px 10%;">

      <input class="status-active specifications-active-<%=specifications[i]._id%>" type="checkbox" name="productSpecifications" value="<%=specifications[i]._id%>" onclick=showSpecifications('<%=specifications[i]._id%>')>
      <span class="label label-default" style="width: auto!important; font-size: 2rem!important;"><%=specifications[i].specificationsName%></span>
      <div class="specifications-content specifications-content-<%=specifications[i]._id%>" style="display: none;">
        <div class="specifications-details-form specifications-details-form-<%=specifications[i]._id%>" style ="float: left;width: 100%;">
          <div class="specifications-details specifications-details-<%=specifications[i]._id%>">
            <div class="specifications-content-form">
              <span style="float: left;width: 15%">Kiểu</span>
              <input class="specificationsMenu-<%=specifications[i]._id%>" type="text" name="specificationsMenu" style="float: left;width: 70%;" value="" >
            </div>
            <div class="specifications-content-form">
              <span style="float: left;width: 15%">Mô tả</span>
              <textarea class="specificationsDescription-<%=specifications[i]._id%>" style="float: left;width: 70%;"></textarea>
            </div>
            <span class="remove-specifications-content glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;float: left;width: 5%;color:#dd4b39;margin: 20px 0"></span>
          </div>

        </div>

        <button onclick=specificationsContentAdd('<%=specifications[i]._id%>') style="display:block;padding: 5px 10px;background-color: #00c0ef;border:none;"><i class="fa fa-plus" style="color: #fff; font-size: 2rem;"></i></button>
      </div>

    </div>
    <%}%>
    <%}%>
    <%}%>

    <%}%>
    <%}%>
  </div>

</div>
</div>

</div>


<div class="all-modal">
  <!--Modal thumb upload product-->
  <!-- Modal -->
  <div id="modalProductThumb" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 950px">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="float:left ; width: 50%;">Quản lý hình ảnh</h4>
          <div class="modal-button" style="float:left ; width: 50%;">
            <input type="text" name="search-gallery-text" id="search-gallery" placeholder="Nhập tên hình ảnh" style="padding-left: 10px;">

            <a id = "uploadImages" style="cursor: pointer;" ><span class="label label-primary"><i class="fa fa-upload"></i></span></a>
            <input type="file" name="files" id="file" value="" style="display: none;" multiple /> 

            <a style="cursor: pointer;" onclick="saveImages()"><span class="label label-primary"><i class="fa fa-save"></i></span></a>
            <a id = "reloadmodal" style="cursor: pointer;" onclick="reloadModal()"><span class="label label-primary"><i class="fa fa-retweet"></i></span></a>
            <a style="cursor: pointer;" onclick="removeImages()"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>
          </div>
        </div>
        <div class="modal-body" >

          <div class="file-manager">

          </div>
          <div class="" style="text-align: center;" id="pagination-list-gallery">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal images product -->

  <div id="modalProductImages" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 950px">

      <!-- Modal content-->
      <div class="modal-content modal-content-images">


      </div>
    </div>
  </div>

  <!-- Modal fetures background -->
  <div id="modalProductFeturesBackground" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 950px">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="float:left ; width: 50%;">Quản lý hình ảnh</h4>
          <div class="modal-button" style="float:left ; width: 50%;">
            <input type="text" name="search-gallery-text" id="search-gallery" placeholder="Nhập tên hình ảnh" style="padding-left: 10px;">

            <a id = "uploadImages1" style="cursor: pointer;" ><span class="label label-primary"><i class="fa fa-upload"></i></span></a>
            <input type="file" name="files" id="file1" value="" style="display: none;" multiple /> 

            <a style="cursor: pointer;" onclick="saveBackground()"><span class="label label-primary"><i class="fa fa-save"></i></span></a>
            <a id = "reloadmodal" style="cursor: pointer;" onclick="reloadModal()"><span class="label label-primary"><i class="fa fa-retweet"></i></span></a>
            <a style="cursor: pointer;" onclick="removeImages()"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>
          </div>
        </div>
        <div class="modal-body" >

          <div class="file-manager">

          </div>
          <div class="" style="text-align: center;" id="pagination-list-gallery-fetures">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal productInfo Image -->
  <div id="modalProductInfoImage" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 950px">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="float:left ; width: 50%;">Quản lý hình ảnh</h4>
          <div class="modal-button" style="float:left ; width: 50%;">
            <input type="text" name="search-gallery-text" id="search-gallery" placeholder="Nhập tên hình ảnh" style="padding-left: 10px;">

            <a id = "uploadImages2" style="cursor: pointer;" ><span class="label label-primary"><i class="fa fa-upload"></i></span></a>
            <input type="file" name="files" id="file2" value="" style="display: none;" multiple /> 

            <a style="cursor: pointer;" onclick="saveProductInfoImage()"><span class="label label-primary"><i class="fa fa-save"></i></span></a>
            <a id = "reloadmodal" style="cursor: pointer;" onclick="reloadModal()"><span class="label label-primary"><i class="fa fa-retweet"></i></span></a>
            <a style="cursor: pointer;" onclick="removeImages()"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>
          </div>
        </div>
        <div class="modal-body" >

          <div class="file-manager">

          </div>
          <div class="" style="text-align: center;" id="pagination-list-gallery-productInfo">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../include/admin-footer') %>

<%- include('../include/admin-control-sidebar') %>

<%- include('../include/admin-js.ejs') %>



<script type="text/javascript">



  var productCategory =  <%-JSON.stringify(product.productCategory)%>
  $('.select-category').val(productCategory)



  $("#uploadImages").bind("click",function () {
    $("#file").click();

  });

  $("#uploadImages1").bind("click",function () {
    $("#file1").click();
  });
  $("#uploadImages2").bind("click",function () {
    $("#file2").click();
  });

  $('#file').on("change", function(event){
    if(event.target && event.target.files && event.target.files[0]){
      let file = event.target.files[0]
      // console.log(file)
      const temporaryFileReader = new FileReader()
      return new Promise((resolve, reject) => {
        if (file.type) {
          temporaryFileReader.onerror = (e) => {
            // console.log(e)
            temporaryFileReader.abort()
            reject('Lỗi')
          }

          temporaryFileReader.onload = (e) => {

            var formData = new FormData();

            $.each($("#file")[0].files, function(i, file) {
              formData.append('files', file);
            });

           // console.log(formData)

           $.ajax({
            url: '/admin/product/uploadImages',
            type: 'post',
            data: formData,
            contentType:false,
            processData:false

          }).done(function(results){
            if (results.status == true) {
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo ảnh thành công</span>',
              });
            }else{
              $.alert({
                title: 'Thông Báo !',
                content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
              })
            }

          })
          resolve()
        }
        temporaryFileReader.readAsDataURL(file);
      } else {
        resolve()
      }
    })
    }
  })

  $('#file1').on("change", function(event){
    if(event.target && event.target.files && event.target.files[0]){
      let file = event.target.files[0]
      // console.log(file)
      const temporaryFileReader = new FileReader()
      return new Promise((resolve, reject) => {
        if (file.type) {
          temporaryFileReader.onerror = (e) => {
            // console.log(e)
            temporaryFileReader.abort()
            reject('Lỗi')
          }
          
          temporaryFileReader.onload = (e) => {

            var formData = new FormData();

            $.each($("#file1")[0].files, function(i, file) {
              formData.append('files', file);
            });

           // console.log(formData)

           $.ajax({
            url: '/admin/product/uploadImages',
            type: 'post',
            data: formData,
            contentType:false,
            processData:false

          }).done(function(results){
            if (results.status == true) {
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo ảnh thành công</span>',
              });
            }else{
              $.alert({
                title: 'Thông Báo !',
                content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
              })
            }

          })
          resolve()
        }
        temporaryFileReader.readAsDataURL(file);
      } else {
        resolve()
      }
    })
    }
  })

  $('#file2').on("change", function(event){
    if(event.target && event.target.files && event.target.files[0]){
      let file = event.target.files[0]
      // console.log(file)
      const temporaryFileReader = new FileReader()
      return new Promise((resolve, reject) => {
        if (file.type) {
          temporaryFileReader.onerror = (e) => {
            // console.log(e)
            temporaryFileReader.abort()
            reject('Lỗi')
          }

          temporaryFileReader.onload = (e) => {

            var formData = new FormData();

            $.each($("#file2")[0].files, function(i, file) {
              formData.append('files', file);
            });

           // console.log(formData)

           $.ajax({
            url: '/admin/product/uploadImages',
            type: 'post',
            data: formData,
            contentType:false,
            processData:false

          }).done(function(results){
            if (results.status == true) {
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-success"><strong class="fa fa-check"></strong>Tạo ảnh thành công</span>',
              });
            }else{
              $.alert({
                title: 'Thông Báo !',
                content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
              })
            }

          })
          resolve()
        }
        temporaryFileReader.readAsDataURL(file);
      } else {
        resolve()
      }
    })
    }
  })




  function reloadModal(){
    listFileManager(1);
    $('#search-gallery').val('');
  }

  $('#search-gallery').keyup(function() {
   listFileManager(1);
 });


  function listFileManager(page){
    // res.cookie('currentColorId', ''+id+'')

    var search_image = $('#search-gallery').val()
    $.ajax({
      url: '/admin/product/listFileManager',
      type: 'GET',
      data: {
        page : page,
        search_image : search_image,
      },
      dataType: 'json',
    }).done(function(results){
      if (results.status) {

        // console.log(results);

        var xhtml = '';


        if (results.listFileManager && results.listFileManager.length) {
          for (var i = 0 ;  i <= results.listFileManager.length - 1; i++) {
            xhtml += '<div class="gallery-item">';
            xhtml += ' <div class="gallery-thumb">';
            xhtml += '<img src="'+'/upload/thumbProduct/'+results.listFileManager[i].galleryName+'">'
            xhtml += '</div>';
            xhtml += '<div class="gallery-description" >'
            xhtml += '<p class="gallery-name" style="font-weight:600;text-align:center">'+results.listFileManager[i].galleryName+'</p>'
            xhtml += '</div>'
            xhtml += '<div class="gallery-check" style="text-align: center;">'
            xhtml += '<input type="radio" name="galleryThumb" value="'+results.listFileManager[i].galleryName+'"">'
            xhtml += '</div>'
            xhtml += '</div>';
          }
          $(".file-manager").html(xhtml)
        }else{
          $(".file-manager").html('Không tìm thấy !');
        }



        if(results.totalPage > 1) {
          var pagiHtml = '';
          pagiHtml ='<ul class="pagination">';
          if (results.page != 1){ 
            var pagePriv = parseInt(results.page) - 1; 

            pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager(1)""><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
            pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
          }

          var _begin =  results.page - 5; 
          var _end = results.page + 5;
          if (_begin < 1){ 
            _begin = 1;
          }
          if (_end > results.totalPage ) {
            _end = results.totalPage;
          } 
          for (var i = _begin; i <= _end; i++) {
            if(results.page == i) { 
              pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
            } else { 
              pagiHtml += '<li><a href="javascript:void(0)" onclick="listFileManager('+ i +')">'+i+'</a></li>';
            }
          } 
          if (results.page < results.totalPage ) {
            var pageNext = parseInt(results.page) + 1; 
            pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
            pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManager('+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
          } 
          pagiHtml += '</ul>';

          $('#pagination-list-gallery').html(pagiHtml);
        } else {
          $('#pagination-list-gallery').html('');
        }
      }
    })
  }

  // $("#uploadImagesProduct").on("click",function () {
  //   alert("2")
  //   $("#filesProduct").click();
  // });

  // $("#uploadImagesProduct span").click(function(){
  //   alert("asldnaskjdn")
  // })

  function chooseImgProduct(){
    $("#file").click();
  }

  // var delay = (function(){
  //   var timer = 0;
  //   return function(callback, ms){
  //     clearTimeout (timer);
  //     timer = setTimeout(callback, ms);
  //   };
  // })();

  // $(document).on("keyup","#search-gallery-images",function(){
  //   delay(function(){
  //     listFileManagerImages();
  //   }, 800 );
  // });


  function reloadModalImages (){
    listFileManagerImages(1);
    $('#search-gallery-images').val('');
  }



  function listFileManagerImages(page,id){
    // res.cookie('currentColorId', ''+id+'')
    if (id) {
      document.cookie = 'currentColorId='+id+'';
    }
    var search_images = $('#search-gallery-images').val()

    $.ajax({
      url: '/admin/product/listFileManagerImages',
      type: 'GET',
      data: {
        page : page,
        search_images : search_images,
        id : id 
      },
      dataType: 'json',
    }).done(function(results){
      if (results.status) {

        var xhtml = '';
        xhtml += '<div class="modal-header">';
        xhtml += '<h4 class="modal-title" style="float:left ; width: 50%;">Quản lý hình ảnh</h4>';
        xhtml += ' <div class="modal-button" style="float:left ; width: 50%;">';
        xhtml += '<input type="text" name="search-gallerys-text" id="search-gallery-images" placeholder="Nhập tên hình ảnh" style="padding-left: 10px;">';

        xhtml += '<a id = "uploadImagesProduct" style="cursor: pointer;" onclick="chooseImgProduct()"><span class="label label-primary"><i class="fa fa-upload"></i></span></a>';
        xhtml += '<input type="file" name="files" id="file" value="" style="display: none;" multiple /> ';

        xhtml += '<a style="cursor: pointer;" onclick=saveImagesProduct(\''+results.id+'\')><span class="label label-primary"><i class="fa fa-save"></i></span></a>';
        xhtml += '<a id = "reload-modal" style="cursor: pointer;" onclick="reloadModalImages()"><span class="label label-primary"><i class="fa fa-retweet"></i></span></a>';
        xhtml += '<a style="cursor: pointer;" onclick="removeImages()"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>';
        xhtml += '</div>';
        xhtml += ' </div>';
        xhtml += '<div class="modal-body modal-body-images" >';
        xhtml += '<div class="file-manager-images">';
        if (results.listFileManagerImages && results.listFileManagerImages.length) {
          for (var i = 0 ;  i <= results.listFileManagerImages.length - 1; i++) {
            xhtml += '<div class="gallery-item">';
            xhtml += ' <div class="gallery-thumb">';
            xhtml += '<img src="'+'/upload/thumbProduct/'+results.listFileManagerImages[i].galleryName+'">'
            xhtml += '</div>';
            xhtml += '<div class="gallery-description" >'
            xhtml += '<p class="gallery-name" style="font-weight:600;text-align:center">'+results.listFileManagerImages[i].galleryName+'</p>'
            xhtml += '</div>'
            xhtml += '<div class="gallery-check" style="text-align: center;">'
            xhtml += '<input type="checkbox" name="galleryImages" value="'+results.listFileManagerImages[i].galleryName+'"">'
            xhtml += '</div>'
            xhtml += '</div>';
          }
          xhtml += '</div>';
          xhtml += '<div class="" style="text-align: center;" id="pagination-list-gallery-images">';
          xhtml += ' </div>';
          xhtml += ' </div>';
          $(".modal-content-images").html(xhtml)
        }else{
         $(".modal-content-images").html(xhtml)
         $(".file-manager-images").html('Không tìm thấy !');
       }

       if(results.totalPage > 1) {
        var pagiHtml = '';
        pagiHtml ='<ul class="pagination">';
        if (results.page != 1){ 
          var pagePriv = parseInt(results.page) - 1; 

          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManagerImages(1)""><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManagerImages('+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
        }

        var _begin =  results.page - 5; 
        var _end = results.page + 5;
        if (_begin < 1){
          _begin = 1;
        }
        if (_end > results.totalPage ) {
          _end = results.totalPage;
        } 
        for (var i = _begin; i <= _end; i++) {
          if(results.page == i) { 
            pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
          } else { 
            pagiHtml += '<li><a href="javascript:void(0)" onclick="listFileManagerImages('+ i +')">'+i+'</a></li>';
          }
        } 
        if (results.page < results.totalPage ) {
          var pageNext = parseInt(results.page) + 1; 
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManagerImages('+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listFileManagerImages('+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
        } 
        pagiHtml += '</ul>';

        $('#pagination-list-gallery-images').html(pagiHtml);
      } else {
        $('#pagination-list-gallery-images').html('');
      }

    }
  })
}


function saveImages(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();

  if (imageThumb == undefined) {
    $.alert({
      title: 'Thông Báo !',
      content: '<span class="text-danger"><strong class="fa fa-close"></strong>Vui lòng chọn ảnh</span>'
    })
  }
  else {
    $('#image-thumb-product').attr('src','/upload/thumbProduct/'+imageThumb+'')
    $.confirm({
      title: 'Thông Báo!',
      content: '<span class="text-success"><strong class="fa fa-check"></strong>Thêm ảnh thành công</span>',
      buttons: {
        Ok: function () {
              // $.alert('Ok');
              $('#modalProductThumb').modal('hide')
            }
          }
        });
  }

}
function saveBackground(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();

  if (imageThumb == undefined) {
    $.alert({
      title: 'Thông Báo !',
      content: '<span class="text-danger"><strong class="fa fa-close"></strong>Vui lòng chọn ảnh</span>'
    })
  }
  else {
    $('#image-fetures-background').attr('src','/upload/thumbProduct/'+imageThumb+'')
    $.confirm({
      title: 'Thông Báo!',
      content: '<span class="text-success"><strong class="fa fa-check"></strong>Thêm ảnh thành công</span>',
      buttons: {
        Ok: function () {
              // $.alert('Ok');
              $('#modalProductFeturesBackground').modal('hide')
            }
          }
        });
  }

}

function saveProductInfoImage(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();

  if (imageThumb == undefined) {
    $.alert({
      title: 'Thông Báo !',
      content: '<span class="text-danger"><strong class="fa fa-close"></strong>Vui lòng chọn ảnh</span>'
    })
  }
  else {
    $('#image-productInfo-image').attr('src','/upload/thumbProduct/'+imageThumb+'')
    $.confirm({
      title: 'Thông Báo!',
      content: '<span class="text-success"><strong class="fa fa-check"></strong>Thêm ảnh thành công</span>',
      buttons: {
        Ok: function () {
              // $.alert('Ok');
              $('#modalProductInfoImage').modal('hide')
            }
          }
        });
  } 
}




function saveImagesProduct(id){
  // console.log(id)
  var imageProduct = [];

  // console.log(id)
  // console.log("==1==")
  $("input:checkbox[name=galleryImages]:checked").each(function(){
    imageProduct.push($(this).val());
  });

  
  if (imageProduct == "") {
    $.alert({
      title: 'Thông Báo !',
      content: '<span class="text-danger"><strong class="fa fa-close"></strong>Vui lòng chọn ảnh</span>'
    })
  }
  else {
    // console.log("=========here========")

    var ximage = '';
    for( var i = 0 ; i< imageProduct.length ; i++){
      // console.log(imageProduct[i])
      // console.log("==2==")
      //  console.log(id)
      ximage += '<div class="image-product" style="margin-top: 20px ; width: 100%;">';
      ximage += '<img src="/upload/thumbProduct/'+imageProduct[i]+'" style ="width: 90%!important; ">';
      ximage += '<span class="remove-image glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;width: 21px;color:#dd4b39;margin-left : 5%"></span>';
      ximage += '</div>';
    }
    // console.log("==3==")
    // console.log(id)
    $('.imagesProduct-'+id+'').append(ximage);
    $.confirm({
      title: 'Thông Báo!',
      content: '<span class="text-success"><strong class="fa fa-check"></strong>Thêm ảnh thành công</span>',
      buttons: {
        Ok: function () {
              // $.alert('Ok');
              $('#modalProductImages').modal('hide')
            }
          }
        });
  }

}

$(document).ready(function() {
  $(document).on('click', '.remove-image', function() {
    $(this).parent().remove();
  });
})




function removeImages(){
  var imageThumb = $("input[name='galleryThumb']:checked").val();
  $.confirm({
    title : 'Xác nhận !',
    content : 'Bạn có chắc chắn muốn xóa danh mục sản phẩm này',
    buttons: {
      'Đồng Ý': function () {
        $.ajax({
          url: '/admin/product/removeImageThumb',
          type: 'post',
          data: {
            imageThumb : imageThumb
          },
          dataType: 'json',
        }).done(function(results){
          if (results.status) {
            $.alert({
              title: 'Thông Báo!',
              content: '<span class="text-success"><strong class="fa fa-check"></strong>Xóa ảnh thành công</span>'
            })
            $("#modalProductThumb").modal("hide");
            $("#modalProductThumb .modal-body").load(target, function() { 
             $("#modalProductThumb").modal("show"); 
           });

          }else{
            $.alert({
              title: 'Thông Báo!',
              content: '<span class="text-danger"><strong class="fa fa-close"></strong>Xóa thất bại </span>'
            })
          }
        })
      },
      'Hủy Bỏ': function () {
      },
    }
  })
}

</script>

<script>


  function postProductEdit(id) {

    var productName = $("input[name=productName]").val();
    
    var imagePathArry = $('.image-thumb img').attr('src').split('/');
    var productThumb = imagePathArry[imagePathArry.length-1];
    // console.log(productThumb)

    var productCategory = $(".select-category").val(); 
    var productBrand = $("input[name=productBrand]:checked").val(); 

    var productColor = [];
    
    $('input[name=productColor]:checked').each(function() {
      var objEachColor = {

      }
      var colorId = [];
      colorId.push($(this).val())
      objEachColor.colorId = $(this).val();

      for(var i =  0 ; i<colorId.length;i++){
        var colorImages = [];
        $('div.imagesProduct-'+colorId[i]+'>div>img').each(function(){ 
          var colorImagesPerColorArray = $(this).attr('src').split('/');
          // console.log(colorImagesPerColorArray) 
          var colorImagesPerColor = colorImagesPerColorArray[colorImagesPerColorArray.length-1];
          colorImages.push(colorImagesPerColor);
        });
        objEachColor.colorImages = colorImages;

        var colorPrice = $('#productPrice-'+colorId[i]).val();
        objEachColor.colorPrice = colorPrice;

        var colorQuantity = $('#productQuantity-'+colorId[i]).val();
        objEachColor.colorQuantity = colorQuantity;

        var colorPromotion = $('#productPromotion-'+colorId[i]).val();
        objEachColor.colorPromotion = colorPromotion;
      }

      productColor.push(objEachColor)

    });


    var productDescription = $("textarea[name=description]").val();

    var productFeturesSolgan = $("#fetures_slogan").val();

    var productFeturesBanner = $("#image-fetures-background").attr('src');

    var productFeturesLink = $("#fetures_link").val();

    var productInfoImage = $("#image-productInfo-image").attr('src');

    var productInfo = []


    var productInfoName = $(".productInfo-slogan").map(function() {
      return $(this).val();
    }).toArray();

    // console.log(productInfoName)

    var productInfoDescription = $(".productInfo-description").map(function() {
      return $(this).val();
    }).toArray();

    // console.log(productInfoDescription)

    len = Math.max(productInfoName.length, productInfoDescription.length)
    // console.log(len)

    for (var i = 0 ; i< len ; i++) {
      productInfo[i] = {
        productInfoName : productInfoName[i] || "" ,
        productInfoDescription : productInfoDescription[i] || ""
      }
    }
    // console.log(productInfo)

    var productSpecifications = []

    $('input[name=productSpecifications]:checked').each(function() {
      var objEachProductSpecifications = {}
      var productSpecificationsId = []
      productSpecificationsId.push($(this).val())
      objEachProductSpecifications.productSpecificationsId = $(this).val();
      // console.log(objEachProductSpecifications.productSpecificationsId)
      for (var i = 0; i < productSpecificationsId.length; i++) {

        productSpecificationsContent = []
        var productSpecificationsMenu = $('.specificationsMenu-'+productSpecificationsId[i]).map(function() {
          return $(this).val();
        }).toArray(); 

        // console.log(productSpecificationsMenu)

        var productSpecificationsDescription = $('.specificationsDescription-'+productSpecificationsId[i]).map(function() {
          return $(this).val();
        }).toArray(); 

        len2 = Math.max(productSpecificationsMenu.length , productSpecificationsDescription.length)

        // console.log(len2)

        for (var j = 0 ; j< len2 ; j++) {
          productSpecificationsContent[j] = {
            productSpecificationsMenu : productSpecificationsMenu[j] || "" ,
            productSpecificationsDescription : productSpecificationsDescription[j] || ""
          }
        }
        objEachProductSpecifications.productSpecificationsContent = productSpecificationsContent
        // console.log(objEachProductSpecifications)

      }
      productSpecifications.push(objEachProductSpecifications)
    })



    
    $.ajax({
      url: '/admin/product/edit',
      type: 'post',
      data: {
        id : id ,
        productName : productName,
        productThumb : productThumb,
        productCategory : productCategory,
        productBrand : productBrand,
        productColor : productColor,
        productDescription : productDescription ,
        productFeturesSolgan : productFeturesSolgan ,
        productFeturesBanner : productFeturesBanner ,
        productFeturesLink : productFeturesLink , 
        productInfoImage : productInfoImage, 
        productInfo : productInfo , 
        productSpecifications : productSpecifications
      },
      dataType: 'json',
    }).done(function(results){
      if (results.status == true) {
        $.confirm({
          title: 'Thông Báo!',
          content: '<span class="text-success"><strong class="fa fa-check"></strong>Cập nhật sản phẩm thành công</span>',
          buttons: {
            Ok: function () {
              // $.alert('Ok');
              window.location.replace("/admin/product/list");
            }
          }
        });
      }else{
        $.alert({
          title: 'Thông Báo !',
          content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
        })
      }
    })
  }



</script>

<script type="text/javascript">


// js select2
$(document).ready(function() {
  $('.js-example-basic-multiple').select2();
});

// click color show/hide 

</script>

<script type="text/javascript">
  // click color show/hide 
  var color =  <%-JSON.stringify(color)%>;
  if (color && color.length) {
    for (var i = 0; i < color.length; i++) {
      $(`.form-product-color-${color[i]._id}`).hide()
    }
  }

  function showUpload(id) {

    if($(`.status-active-${id}`).is(":checked") == true){
      $(`.form-product-color-${id}`).show(500)
    }else{
     $(`.form-product-color-${id}`).hide(500); 
   }
 }

</script>

<script type="text/javascript">
 $(function () {
  $( ".product-input-price" ).change(function() {
    var min = parseInt($(this).attr('min'));
    if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});

 $(function () {
  $( ".product-input-quantity" ).change(function() {
    var min = parseInt($(this).attr('min'));
    if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});

 $(function () {
  $( ".product-input-promotion" ).change(function() {
    var max = parseInt($(this).attr('max'));
    var min = parseInt($(this).attr('min'));
    if ($(this).val() > max)
    {
      $(this).val(max);
    }
    else if ($(this).val() < min)
    {
      $(this).val(min);
    }       
  }); 
});


 $('#over-view').click(function(){
  $('.content-edit>div').fadeOut(500)
  $('.overview-edit').fadeIn(500)
  $('.menu-product ul li').removeClass('active');
  $(this).addClass('active')
})
 $('#details-view').click(function(){
  $('.content-edit>div').fadeOut(500)
  $('.feturesview-edit').fadeIn(500)
  $('.menu-product ul li').removeClass('active');
  $(this).addClass('active')
})
 $('#productInfo-view').click(function(){

  $('.content-edit>div').fadeOut(500)
  $('.productInfo-edit').fadeIn(500)
  $('.menu-product ul li').removeClass('active');
  $(this).addClass('active')
})

 $('#specifications-view').click(function(){
  $('.content-edit>div').fadeOut(500)
  $('.specifications-edit').fadeIn(500)
  $('.menu-product ul li').removeClass('active');
  $(this).addClass('active')
})


 function productInfoAdd() {
  var xhtml = ''
  xhtml += '<div class="details-productInfo-item">';
  xhtml += '<div class="form-product-add">';
  xhtml += '<span>Tên tính năng</span>';
  xhtml += '<input class="productInfo-slogan" type="text" name="productInfo-slogan" value="">';
  xhtml += '</div>';

  xhtml += '<div class="form-product-add">';
  xhtml += '<span>Mô tả tính năng</span>';
  xhtml += '<textarea class="productInfo-description" style="height: 80px;"></textarea>';
  xhtml += '</div>';
  xhtml += '<span class="remove-productInfo-input glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;margin-left:10%;margin-top:30px;color:#dd4b39;"></span>';
  xhtml += '</div>';

  $(document).ready(function() {
    $(document).on('click', '.remove-productInfo-input', function() {
      $(this).parent().remove();
    });
  })

  $('.details-productInfo-form').append(xhtml)
}

function showSpecifications(id) {
    // console.log($(`.status-active-${id}`).is(":checked"))
    // console.log(id)
    // console.log($(`.status-active-${id}`))
    if($(`.specifications-active-${id}`).is(":checked") == true){
      $(`.specifications-content-${id}`).show(500)
    }else{
     $(`.specifications-content-${id}`).hide(500); 
   }
 }

 function specificationsContentAdd(id){
  var xhtml = '';
  console.log(id)
  xhtml += '<div class="specifications-details specifications-details-'+id+'">';
  xhtml += '<div class="specifications-content-form">';
  xhtml += '<span style="float: left;width: 15%">Kiểu</span>';
  xhtml += '<input class="specificationsMenu-'+id+'" type="text" name="specificationsMenu" style="float: left;width: 70%;"">';
  xhtml += '</div>';
  xhtml += '<div class="specifications-content-form">';
  xhtml += '<span style="float: left;width: 15%">Mô tả</span>';
  xhtml += '<textarea class="specificationsDescription-'+id+'" style="float: left;width: 70%;"></textarea>';
  xhtml += '</div>';
  xhtml += '<span class="remove-specifications-content glyphicon glyphicon-minus-sign" style="cursor: pointer;font-size:2.4rem;float: left;width: 5%;color:#dd4b39;margin: 20px 0"></span>';
  xhtml += '</div>';
  
  $(document).ready(function() {
    $(document).on('click', '.remove-specifications-content', function() {
      $(this).parent().remove();
    });
  })

  $('.specifications-details-form-'+id).append(xhtml)
}


</script>