  <%- include('../include/admin-header-top') %>

  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style type="">
  table.table.table-bordered , table.table.table-bordered>thead>tr>th {
    text-align: center;
  }
  .add-newProduct {
    margin : 20px 0;
    font-size: 3rem;
  }
  .add-searchProduct {
    margin : 20px 0;
  }
  .add-searchProduct input{
   padding-left: 10px;
   width: 25%;
   margin-left: 1%;
 }
 .add-searchProduct select {
  width: 13%;
  margin-left: 1%;
}
.add-searchProduct span {
  padding: 10px;
  font-size: 1.8rem;
  background-color: #3c8dbc !important;
  color: #fff;
  border-radius: 5px;
}
.form-productInfo {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
span.form-productInfo-tilte{
  float: left;
  width: 20%;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  padding-left: 30px;
}
span.form-productInfo-icon {
  width: 1%;
  float: left;
}
span.form-productInfo-content  {
  float: left;
  width: 69%;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 30px;
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách sản phẩm
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="container">      

      <div class="add-newProduct">
        <a href="/admin/product/add"><span class="label label-primary">+</span></a>
      </div>      

      <div class="add-searchProduct">
        <span class="search-icon glyphicon glyphicon-search"></span>
        <input class="input-text product-search-text" type="text" name="" placeholder="Nhập tên sản phẩm">
        <select class="product-category">
          <option value="">Loại Sản Phẩm</option>
          <%if (category && category.length){%>
          <%for( var i = 0 ; i < category.length ; i++){%>
          <option value="<%=category[i]._id%>"><%=category[i].categoryName%></option>
          <%}%>
          <%}%>
        </select>
        <select class="product-brand">
          <option value="">Nhãn Hiệu</option>
          <%if (brand && brand.length){%>
          <%for( var i = 0 ; i < brand.length ; i++){%>
          <option value="<%=brand[i]._id%>"><%=brand[i].brandName%></option>
          <%}%>
          <%}%>
        </select>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Nhãn hiệu</th>
            <th>Thời gian tạo</th>
            <th>Xử Lý</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

      <div class="col-xs-12" style="text-align: center;" id="pagination-list-product">

      </div>

    </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../include/admin-footer') %>

<%- include('../include/admin-control-sidebar') %>

<%- include('../include/admin-js.ejs') %>

<script type="text/javascript">
  $( document ).ready(function() {
    listProduct(1);
  });

  $('select').on('change', function() {
   listProduct(1);
    // alert( this.value );
  })

  $('.product-search-text').keyup(function() {
   listProduct(1);
 });

  function listProduct(page) {
    var product_category = $('.product-category :selected').val();
    var product_brand = $('.product-brand :selected').val();
    var product_status = $('.product-status :selected').val();
    var product_search_text = $('.product-search-text').val();

    $.ajax({
      url: '/admin/product/listProduct',
      type: 'GET',
      data: {
        page : page,
        product_category : product_category,
        product_brand : product_brand,
        product_search_text:product_search_text
      },
      dataType: 'json',
    }).done(function(results){
      if (results.status) {

        // console.log(results.status);

        var xhtml = '';

        if (results.listProduct && results.listProduct.length) {
          for (var i = 0 ;  i <= results.listProduct.length - 1; i++) {

            if(results.listProduct[i].createdAt){
              var date = new Date(results.listProduct[i].createdAt);
              var date_createdAt = moment(date).format('HH:mm | DD-MM-YYYY');
            }

            xhtml += '<tr>';

            xhtml += '<td>'+results.listProduct[i].productName+'</td>';



            if (results.listProduct[i].productCategory) {
              xhtml += '<td><span class="label label-info">'+results.listProduct[i].productCategory.categoryName+'</span></td>';
            }


            if (results.listProduct[i].productBrand) {
              xhtml += '<td><span class="label label-info">'+results.listProduct[i].productBrand.brandName+'</span></td>';
            }

            xhtml += '<td>'+date_createdAt+'</td>';

            // xhtml += '<td>'+results.listProduct[i].description+'</td>';

            xhtml += '<td><a style="cursor:pointer" data-toggle="modal" data-target="#modal-'+results.listProduct[i]._id+'-productInfo"><span class="label label-default"><span class="glyphicon glyphicon-check"></span> Xem</span></a> <a href="/admin/product/edit/'+results.listProduct[i]._id+'"><span class="label label-warning"><span class="glyphicon glyphicon-edit"></span> Sửa</span></a> <a href="javascript:void(0)" onclick="removeProduct(\''+results.listProduct[i]._id+'\')"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Xóa</span></a>';

            //Modal productInfo

            xhtml += '<div class="modal fade" id="modal-'+results.listProduct[i]._id+'-productInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">';
            xhtml += '<div class="modal-dialog" role="document" style="width:950px">';
            xhtml += '<div class="modal-content modal-productInfo">';
            xhtml += '<div class="modal-header">';
            xhtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
            xhtml += '<h4 class="modal-title">Thông tin sản phẩm : <strong>'+results.listProduct[i].productName+'</strong></h4>';
            xhtml += '</div>';

            xhtml += '<div class="modal-body">';
            xhtml += '<div class="box-body">';
            

            xhtml += '<div class="form-productInfo">';
            xhtml += '<span class="form-productInfo-tilte">Hình ảnh</span>';
            xhtml += '<span class="form-productInfo-icon">:</span>';
            if(results.listProduct[i].productThumb){
              xhtml += '<span  class="form-productInfo-content"><img src="/upload/thumbProduct/'+results.listProduct[i].productThumb+'" style="height:auto; width:25%;"/></span>';
            }
            xhtml += '</div>';
            xhtml += '<div class="form-productInfo">';
            xhtml += '<span class="form-productInfo-tilte">Loại sản phẩm</span>';
            xhtml += '<span class="form-productInfo-icon">:</span>';

            if (results.listProduct[i].productCategory) {
              xhtml += '<span class="form-productInfo-content">'+results.listProduct[i].productCategory.categoryName+'</span>';
            }else {
              xhtml += '<span class="form-productInfo-content"></span>';
            }
            xhtml += '</div>';

            xhtml += '<div class="form-productInfo">';
            xhtml += '<span class="form-productInfo-tilte">Nhãn hiệu</span>';
            xhtml += '<span class="form-productInfo-icon">:</span>';
            if (results.listProduct[i].productBrand) {
              xhtml += '<span class="form-productInfo-content">'+results.listProduct[i].productBrand.brandName+'</span>';
            }else {
              xhtml += '<span class="form-productInfo-content"></span>';
            }
            xhtml += '</div>';


            xhtml += '<div class="form-productInfo">';
            xhtml += '<span class="form-productInfo-tilte">Màu<p style="font-weight: normal;font-size: 1.4rem;font-style: italic;">( Click để xem chi tiết )</p></span>';
            xhtml += '<span class="form-productInfo-icon">:</span>';
            if (results.listProduct[i].productColor) {
              xhtml += '<span class="form-productInfo-content">';
              for (var ii = 0; ii < results.listProduct[i].productColor.length; ii++) {
                xhtml += '<div class="infoColor-title" style="margin-bottom : 20px">'
                xhtml += '<span class="label label-primary" style ="cursor:pointer" onclick=showInfoColor(\''+results.listProduct[i].productColor[ii].colorId._id+'\')>'+results.listProduct[i].productColor[ii].colorId.colorName+'</span>';
                xhtml += '</div>'
                xhtml += '<div class="infoColor-'+results.listProduct[i].productColor[ii].colorId._id+'" style="margin-bottom : 20px;display:none">';

                var convertVND = results.listProduct[i].productColor[ii].colorPrice;
                
                productColorPrice = convertVND.toLocaleString('vi', {style : 'currency', currency : 'VND'});


                xhtml += '<div class="infoColor-content" style="width:100%; margin-bottom:30px;">';
                xhtml += '<p style="width:20%;display:inline-block">Giá tiền</p>';
                xhtml += '<span class = "label label-success" style="font-size:1.4rem;">'+productColorPrice+'</span>';
                xhtml += '</div>';
                xhtml += '<div class="infoColor-content" style="width:100%; margin-bottom:30px; ">';
                xhtml += '<p style="width:20%;display:inline-block">Khuyến mãi</p>';
                xhtml += '<span class = "label label-success" style="font-size:1.4rem;">'+results.listProduct[i].productColor[ii].colorPromotion+' %</span>';
                xhtml += '</div>';
                xhtml += '<div class="infoColor-content" style="width:100% ; margin-bottom:30px;">';
                xhtml += '<p style="width:20%;display:inline-block">Số lượng</p>';
                xhtml += '<span class = "label label-success" style="font-size:1.4rem;">'+results.listProduct[i].productColor[ii].colorQuantity+'</span>';
                xhtml += '</div>';
                xhtml += '<div class="infoColor-content" style="width:100% ; margin-bottom:30px;">';
                xhtml += '<p style="width:20%;display:inline-block">Đã bán</p>';
                xhtml += '<span class = "label label-success" style="font-size:1.4rem;">'+results.listProduct[i].productColor[ii].colorNumberPurchased+'</span>';
                xhtml += '</div>';
                xhtml += '<div class="infoColor-content" style="width:100% ; margin-bottom:30px;">';

                xhtml += '<p style="width:20%;display:inline-block">Hình ảnh ( '+(results.listProduct[i].productColor[ii].colorImages.length) +' )</p>';
                if(results.listProduct[i].productColor[ii].colorImages){
                  for (var iii = 0; iii < results.listProduct[i].productColor[ii].colorImages.length; iii++) {
                    xhtml += '<img style="width:100%;margin-bottom:20px;" src="/upload/thumbProduct/'+results.listProduct[i].productColor[ii].colorImages[iii]+'">'
                  }
                }
                xhtml += '</div>';


                xhtml += '</div>';
              }

              '</span>';
            }
            xhtml += '</div>';




            xhtml += '<div class="form-productInfo">';
            xhtml += '<span class="form-productInfo-tilte">Mô tả</span>';
            xhtml += '<span class="form-productInfo-icon">:</span>';
            if (results.listProduct[i].description) {
              xhtml += '<span class="form-productInfo-content">'+results.listProduct[i].description+'</span>';
            }
            xhtml += '</div>';


            xhtml += '</div>';
            xhtml += '</div>';

            xhtml += '</div>';
            xhtml += '</div>';
            xhtml += '</div>';


            xhtml += '</td>'
            xhtml += '</tr>';

          }
          $("table tbody").html(xhtml)
        }else{
         $("table tbody").html('Không tìm thấy!');
       }


       if(results.totalPage > 1) {
        var pagiHtml = '';
        pagiHtml ='<ul class="pagination">';
        if (results.page != 1){ 
          var pagePriv = parseInt(results.page) - 1; 
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listProduct(1)""><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listProduct('+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
        }

        var _begin =  results.page - 8; 
        var _end = results.page + 8;
        if (_begin < 1){ 
          _begin = 1;
        }
        if (_end > results.totalPage ) {
          _end = results.totalPage;
        } 
        for (var i = _begin; i <= _end; i++) {
          if(results.page == i) { 
            pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
          } else { 
            pagiHtml += '<li><a href="javascript:void(0)" onclick="listProduct('+ i +')">'+i+'</a></li>';
          }
        } 
        if (results.page < results.totalPage ) {
          var pageNext = parseInt(results.page) + 1; 
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listProduct('+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listProduct('+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
        } 
        pagiHtml += '</ul>';

        $('#pagination-list-product').html(pagiHtml);
      } else {
        $('#pagination-list-product').html('');
      }

    }
  })
}

function showInfoColor(id){
 $('.infoColor-'+id+'').toggle(500)
}

</script>

<script>
  function removeProduct(id){
    $.confirm({
      title : 'Xác nhận !',
      content : 'Bạn có chắc chắn muốn xóa sản phẩm này',
      buttons: {
        'Đồng Ý': function () {
          $.ajax({
            url: '/admin/product/delete',
            type: 'post',
            data: {
              id : id
            },
            dataType: 'json',
          }).done(function(results){
            if (results.status) {
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-success"><strong class="fa fa-check"></strong>Xóa thành công</span>'
              })
              location.reload();
            }else{
              $.alert({
                title: 'Thông Báo!',
                content: '<span class="text-danger"><strong class="fa fa-close"></strong>Xóa thất bại </span>'
              })
            }
          })
        },
        'Hủy Bỏ': function () {
        },
      }
    })
  }
</script>