  <%- include('../include/admin-header-top') %>

  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style type="">
  table.table.table-bordered , table.table.table-bordered>thead>tr>th {
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .add-newColor {
    margin : 20px 0;
    font-size: 3rem;
  }
  .add-searchColor {
    margin : 20px 0;
  }
  .add-searchColor input{
   padding-left: 10px;
   width: 25%;
   margin-left: 1%;
 }
 .add-searchColor select {
  width: 13%;
  margin-left: 1%;
}
.add-searchColor span {
  padding: 10px;
  font-size: 1.8rem;
  background-color: #3c8dbc !important;
  color: #fff;
  border-radius: 5px;
}
.form-ColorInfo {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
span.form-ColorInfo-tilte{
  float: left;
  width: 30%;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  padding-left: 30px;
}
span.form-ColorInfo-icon {
  width: 1%;
  float: left;
}
span.form-ColorInfo-content  {
  float: left;
  width: 69%;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 30px;
}
.box-body {
  text-align: left;
}
.form-color-edit {
  margin-bottom : 20px;
}
.form-color-edit span{
  width: 20%;
  display: inline-block;

}
.form-color-edit input{
  width: 50%;
  display: inline-block;
}
.active span {
  font-size: 90%!important;
}
.active {
  display: inline-block; 
  width: 79%;
  margin-bottom: 20px;
}

.active-block {
  margin-left: 20.1%;
}
input.status-active {
  width: 5%!important;
}
  /*span.label {
    font-size: 90%!important;
    }*/
    .button-active a {
      display: inline-block;
      font-size: 2rem;
      padding: 10px 30px;
      background-color: #dd4b39;
      color: #fff;
    }
  </style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Danh sách đơn hàng
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container">           

        <div class="add-searchColor">
          <span class="search-icon glyphicon glyphicon-search"></span>
          <input class="input-text bill-search" type="number" name="" placeholder="Nhập mã hóa đơn">

          <input class="input-text blog-author-search" type="text" name="" placeholder="Nhập email khách hàng">
          <select class="blog-status">
            <option value="">Trạng Thái</option>
            <option value="1">Đang xử lý</option>
            <option value="2">Đã hoàn thành</option>
            <option value="3">Hủy bỏ</option>
          </select>
        </div>

        <div style="width: 70%;float: left;">

         <div class="box box-solid bg-teal-gradient" style="background:#FF6602!important">
          <div class="box-header">
            <i class="fa fa-th"></i>

            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn bg-teal btn-sm" data-widget="collapse" style="background-color:#FF6602!important"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn bg-teal btn-sm" data-widget="remove" style="background-color:#FF6602!important"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
       <!--        <div class="box-body border-radius-none">
                <div class="chart" id="line-chart" style="height: 250px;"></div>
              </div> -->

              <div class="box-footer no-border">
                <div class="row">
                  <div class="col-xs-4 text-center progress-processing" style="border-right: 1px solid #f4f4f4">
                    <input type="text" class="knob" data-readonly="true" value="" data-width="60" data-height="60"
                    data-fgColor="#FF6602">

                    <div class="knob-label">Đang xử lý</div>
                  </div>

                  <div class="col-xs-4 text-center progress-success" style="border-right: 1px solid #f4f4f4">
                    <input type="text" class="knob" data-readonly="true" value="" data-width="60" data-height="60"
                    data-fgColor="#FF6602">

                    <div class="knob-label">Đã hoàn thành</div>
                  </div>

                  <div class="col-xs-4 text-center progress-cancel">
                    <input type="text" class="knob" data-readonly="true" value="" data-width="60" data-height="60"
                    data-fgColor="#FF6602">

                    <div class="knob-label">Hủy bỏ</div>
                  </div>

                </div>

              </div>
              
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>
                <th>Email khách hàng</th>
                <th>Địa chỉ IP</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Tổng tiền</th>
                <th>Xử Lý</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>

          <div class="col-xs-12" style="text-align: center;" id="pagination-list-color">

          </div>

        </div>





      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%- include('../include/admin-footer') %>

    <%- include('../include/admin-control-sidebar') %>

    <%- include('../include/admin-js.ejs') %>

    <script type="text/javascript">
      $( document ).ready(function() {
        listBill(1);
        $('.bill-main').addClass('active')
        $('.bill-info').addClass('active')
        countTotal();
      });

      $('select').on('change', function() {
       listBill(1);

     })

      $('.blog-author-search').keyup(function() {
       listBill(1);
     });

      $('.bill-search').keyup(function() {
       listBill(1);
     });

      function listBill(page) {
        var bill_status = $('.blog-status :selected').val();
        var bill_text = $('.blog-author-search').val();
        var bill_number = $('.bill-search').val();
        console.log(bill_number)
        $.ajax({
          url: '/admin/bill/listBill',
          type: 'GET',
          data: {
            page : page,
            bill_status : bill_status,
            bill_text : bill_text , 
            bill_number : bill_number
          },
          dataType: 'json',
        }).done(function(results){
          if (results.status) {

        // console.log(results.status);

        var xhtml = ''; 

        if (results.listBill && results.listBill.length) {
          for (var i = 0 ;  i <= results.listBill.length - 1; i++) {
            if(results.listBill[i].createdAt){
              var date = new Date(results.listBill[i].createdAt);
              var date_createdAt = moment(date).format('HH:mm | DD-MM-YYYY');
            } 

            xhtml += '<tr>';

            xhtml += '<td>'+results.listBill[i].billNumber+'</td>';

            xhtml += '<td>'+results.listBill[i].clientEmail+'</td>';

            xhtml += '<td>'+results.listBill[i].clientIp+'</td>';
            

            if (results.listBill[i].status == 1) {
              xhtml += '<td><span class="label label-primary">Đang xử lý</span></td>';
            }else if (results.listBill[i].status == 2) {
              xhtml += '<td><span class="label label-success">Đã hoàn thành</span></td>';
            }else if (results.listBill[i].status == 3) {
              xhtml += '<td><span class="label label-danger">Hủy bỏ</span></td>';
            }

            xhtml += '<td>'+date_createdAt+'</td>'

            xhtml += '<td>'+results.listBill[i].totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</td>'

            xhtml += '<td><a href="/admin/bill/edit/'+results.listBill[i]._id+'"><span class="label label-default"><span class="glyphicon glyphicon-check"></span>Xem / Cập nhật </span></a>';



            xhtml += '</td>'
            xhtml += '</tr>';



          }
          $("table tbody").html(xhtml)

        }else{
         $("table tbody").html('Không tìm thấy!');
       }


       if(results.totalPage > 1) {
        var pagiHtml = '';
        pagiHtml ='<ul class="pagination">';
        if (results.page != 1){ 
          var pagePriv = parseInt(results.page) - 1; 
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listBill(1)""><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listBill('+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
        }

        var _begin =  results.page - 8; 
        var _end = results.page + 8;
        if (_begin < 1){ 
          _begin = 1;
        }
        if (_end > results.totalPage ) {
          _end = results.totalPage;
        } 
        for (var i = _begin; i <= _end; i++) {
          if(results.page == i) { 
            pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
          } else { 
            pagiHtml += '<li><a href="javascript:void(0)" onclick="listBill('+ i +')">'+i+'</a></li>';
          }
        } 
        if (results.page < results.totalPage ) {
          var pageNext = parseInt(results.page) + 1; 
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listBill('+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
          pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="listBill('+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
        } 
        pagiHtml += '</ul>';

        $('#pagination-list-color').html(pagiHtml);
      } else {
        $('#pagination-list-color').html('');
      }

    }
  })
      }

      function countTotal(){
        $.ajax({
          url:'/admin/countTotal',
          type:'get',
        }).done(function(results){

            // console.log(results)

            var processingBillPercent = Math.ceil((results.countProcessingBill/(results.countProcessingBill+results.countCompletedBill + results.countCancelBill))*100)

            var completedBillPercent = Math.ceil((results.countCompletedBill/(results.countProcessingBill+results.countCompletedBill + results.countCancelBill))*100)

            var cancelBillPercent = 100 - (completedBillPercent + processingBillPercent)



            $('.progress-processing input').val(processingBillPercent).trigger('change');
            $('.progress-success input').val(completedBillPercent).trigger('change');
            $('.progress-cancel input').val(cancelBillPercent).trigger('change');
          })

      }

      

    </script>

