<%- include('include/header-top') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="../css/category.css">

<%- include('include/header') %>

<section>

	<div class="fixed-product-category-area hidden-sm hidden-xs">
		<div class="container-fluid">
			<ul>
				<% for (var i = 0; i < brand.length; i++) { %>
				<%if(allBrand.indexOf(brand[i]._id.toString()) != -1){%>
				<li id="brand-<%=brand[i]._id%>">
					<a href="#<%=brand[i].brandName.replace(/\s/g, '')%>" style="text-transform: capitalize;"><%=brand[i].brandName%></a>
				</li>
				<%}%>
				<%}%>
			</ul>
		</div>
	</div>
	
	<%for (var i = 0 ; i < brand.length ; i++) {%>
	<%if(allBrand.indexOf(brand[i]._id.toString()) != -1){%>
	<div class="product-category-area product-category-<%=brand[i]._id%>" id="<%=brand[i].brandName.replace(/\s/g, '')%>">
		<div class="container-fluid">
			<div class="category-title">
				<h2><%=categoryCurrent[0].categoryName%> <%=brand[i].brandName%></h2>
			</div>
			<div class="product-category-content new-product-category-content">
				<%for(var j = 0 ; j < product.length ; j++){%>
				<%if(brand[i]._id.toString()== product[j].productBrand.toString()){%>
				<div class="product-category-item new-product-category-item">
					<div class="product-category-thubnail new-product-category-thubnail">
						<img src="../upload/thumbProduct/<%=product[j].productThumb%>">
					</div>
					<div class="product-category-information new-product-category-information">
						<div class="container-fluid">
							<div class="product-category-title new-product-category-title col-xs-7">
								<p><%=product[j].productName%></p>
							</div>
							<%var convertVND = product[j].productColor[0].colorPrice%>
							<div class="product-category-price new-product-category-price col-xs-5">
								<p><%=convertVND.toLocaleString('vi', {style : 'currency', currency : 'VND'})%></p>
							</div>
						</div>
					</div>
					<div class="product-category-description new-product-category-description">
						<p>
							
						</p>
					</div>
					<div class="product-category-option new-product-category-option">
						<ul>
							<%if(product[j].productColor && product[j].productColor.length){%>
							<%for(var k = 0 ; k< product[j].productColor.length ; k++){%>
							<li class="option-color">
								<span style=" background-color : <%=product[j].productColor[k].colorId.colorCode%>;"></span>
							</li>
							<%}%>
							<%}%>
						</ul>
					</div>
					<div class="product-button-choose">
						<div class="container-fluid">
							<div class="button-product button-cart col-sm-6">
								<a href="#" class="">Mua Hàng</a>
							</div>
							<div class="button-product button-more col-sm-6">
								<a href="#" class="">Xem Thêm</a>
							</div>
						</div>
					</div>
				</div>
				<%}%>
				<%}%>
			</div>
		</div>
	</div>
	<%}%>
	<%}%>

	<%- include('include/section-bottom') %>
	
</section>

<%- include('include/all-modal') %>

<%- include('include/footer') %>
<script src="../js/category.js"></script>