<%- include('include/header-top') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/user.css">

<%- include('include/header')%>

<section>
	<div class="user-recommend-area">
		<div class="user-recommend">
			
			<%if(userCurrent.avatar == "" || userCurrent.avatar == "undefined" || userCurrent.avatar == undefined){%>
			<div class="user-recommend-thumb" style="background-image: url('/upload/avatar/noimage.jpg');">
			</div>
			<%}else{%>
			<div class="user-recommend-thumb" style="background-image: url('/upload/avatar/<%=userCurrent.avatar%>');">
			</div>
			<%}%>
			<div class="user-recommend-content">
				<p><%=userCurrent.userName%></p>
				<%if(userCurrent.level == 1 ){%>
				<span>Member</span>
				<%}else if(userCurrent.level == 2){%>
				<span>Silver Member</span>
				<%}else if(userCurrent.level == 3){%>
				<span>Gold Member</span>
				<%}else if(userCurrent.level == 4){%>
				<span>Platinum Member</span>
				<%}%>

			</div>
		</div>
	</div>
	<div class="user-info-area">
		<div class="container-fluid">
			<div class="user-info-left col-sm-3">
				<ul>
					
					<li class="user-info-left-profile  user-info-left" onclick="location.href='/user/<%=userCurrent._id%>'">
						<i class="fa fa-user"></i>
						<span>Thông tin cá nhân</span>
					</li>
					<li class="user-info-left-order" onclick="location.href='/user/order/<%=userCurrent._id%>'">
						<i class="fa fa-shopping-cart"></i>
						<span>Lịch sử giao dịch</span>
					</li>
					<li class="user-info-left-trophy"  onclick="location.href='/user/trophy/<%=userCurrent._id%>'" >
						<i class="fa fa-trophy"></i>
						<span>Danh Hiệu</span>
					</li>
					<li class="user-info-left-pass user-info-left-active" onclick="location.href='/user/change-pass/<%=userCurrent._id%>'">
						<i class="fa fa-key"></i>
						<span>Mật khẩu</span>
					</li>
				</ul>
			</div>
			<div class="user-info-right col-sm-9">
				<div class="user-info-main" style="float: left;width: 100%;">
					<div class="user-info-pass">
						<h2 class="user-info-right-title">Mật khẩu</h2>
						<div class="user-right-content">
							<div class="user-right-item user-currentpass">
								<p>Mật khẩu hiện tại</p>
								<input type="password" name="current_pass">
							</div>
							<div class="user-right-item user-newpass">
								<p>Mật khẩu mới</p>
								<input type="password" name="new_pass">
							</div>
							<div class="user-right-item user-confirmpass">
								<p>xác nhận mật khẩu mới</p>
								<input type="password" name="confirm_new_pass">
							</div>
							<div class="user-right-item user-right-item-button">
								<input type="button" onclick="postChangePass('<%=userCurrent._id%>')" value="Cập nhật">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>

<%- include('include/all-modal') %>

<%- include('include/footer') %>
<script src="/js/user.js"></script>