<%- include('include/header-top') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/checkout.css">
<style>

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
</style>

<header class="nav-wrap hidden-xs hidden-sm" id="header-product-category">
	<nav class="navbar navbar-default navbar-default-header">
		<div class="container-fluid">
			<div class="navbar-header col-md-2">
				<a href="/"><img src="/img/homepage/logo.png"></a>
			</div>

			<div class="navbar-header-recommend col-md-10" >
				<ul>
					<li>
						<i class="fa fa-angellist" aria-hidden="true"></i>
						<span>Sản phẩm chính hãng chất lượng cao với mức giá tốt nhất</span>
					</li>
					<li>
						<i class="fa fa-truck" aria-hidden="true"></i>
						<span>Giao hàng toàn quốc</span>
					</li>
					<li>
						<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						<span>Dịch vụ hỗ trợ khách hàng 24/7 cùng nhiều dịch vụ hỗ trợ khác</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<section>
	<div class="checkout-section">
		<div class="container-fluid">
			<div class="checkout-title">
				<div class="checkout-title-left">
					<a href="/" >
						<span>Trở lại trang chủ</span>
					</a>
				</div>
				<div class="checkout-title-right">
					<%if(!user){%>
					<a href="" data-toggle="modal" data-target="#login-modal">
						
						<span style="padding-top: 20px;">Đăng nhập / Đăng ký</span>
					</a>
					<%}else{%>
					<%if(user.avatar == "" || user.avatar == "undefined" || user.avatar == undefined){%>
					<img src="/upload/avatar/noimage.jpg" style="width:65px;height:65px;border-radius: 50%;float: right;border: 2px solid">
					<%}else{%>
					<img src="/upload/avatar/<%=user.avatar%>" style="width:65px;height:65px;border-radius: 50%;float: right;border: 2px solid">
					<%}%>
					<div class="checkout-user-logged" style="float: right;margin-right: 30px;">
						<p style=" font-size: 2.4rem;"><%=user.userName%></p>
						<a href="/user/logout" style="color: #FF6602;text-decoration: none;">Đăng xuất</a>
					</div>
					<%}%>
				</div>
			</div>
			<div class="checkout-area checkout-item-area">
				<div class="container-fluid">
					<div class="checkout-item-title">
						<p>Sản Phẩm của bạn</p>
					</div>
					<div class="checkout-item-content">
						

					</div>
					<div class="checkout-item-totalPay">

					</div>
				</div>
			</div>
			<div class="checkout-area checkout-information-area">
				<div class="container-fluid">
					<div class="checkout-item-title">
						<p>Thông tin của bạn</p>
					</div>
					<%if(!user){%>
					<div class="checkout-information-content">
						
						<div class="checkout-information-form">
							<p>Họ tên
								<span>*</span>
							</p>
							<input  type="text" name="nameUser" value="">
						</div>
						<div class="checkout-information-form">
							<p>Email
								<span>*</span>
							</p>
							<input  type="text" name="email" value="">
						</div>
						<div class="checkout-information-form">
							<p>Số điện thoại
								<span>*</span>
							</p>
							<input  type="number" name="phoneNumber" value="">
						</div>
						<div class="checkout-information-form">
							<p>Địa chỉ
								<span>*</span>
							</p>
							<input type="text" name="address" value="">
						</div>
						<div class="checkout-information-form">
							<p>Ghi chú
								<span> </span>
							</p>
							<textarea style="height: 100px;"></textarea>
						</div>
					</div>
					<%}else{%>
					<div class="checkout-information-content">
						
						<div class="checkout-information-form">
							<p>Họ tên
								<span>*</span>
							</p>
							<input  type="text" name="nameUser" value="<%=user.nameUser%>">
						</div>
						<div class="checkout-information-form">
							<p>Email
								<span>*</span>
							</p>
							<input  type="text" name="email" value="<%=user.email%>">
						</div>
						<div class="checkout-information-form">
							<p>Số điện thoại
								<span>*</span>
							</p>
							<input  type="number" name="phoneNumber" value="<%=user.phoneNumber%>">
						</div>
						<div class="checkout-information-form">
							<p>Địa chỉ
								<span>*</span>
							</p>
							<input type="text" name="address" value="<%=user.address%>">
						</div>
						<div class="checkout-information-form">
							<p>Ghi chú
								<span> </span>
							</p>
							<textarea style="height: 100px;"></textarea>
						</div>
					</div>
					<%}%>
				</div>
			</div>
			<div class="checkout-area checkout-paymentMethod-area">
				<div class="container-fluid">
					<div class="checkout-item-title">
						<p>Hình thức thanh toán</p>
					</div>
					<div class="checkout-paymentMethod-content">
						<div class="paymentMethod-form">
							<ul>
								<li class="input-payment">
									<p></p>
								</li>
								<li class="title-payment">
									<h6>Thanh toán COD</h6>
									<p>Khách hàng thanh toán tiền sau khi nhận sản và kiểm tra sản phẩm</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="checkout-area checkout-confirm-area">
				<div class="container-fluid">
					
				</div>
			</div>
		</div>
	</div>

</section>

<%- include('include/all-modal') %>

<%- include('include/footer') %>

<script src="/js/checkout.js"></script>
<script>
	
	
	var userData = <%- JSON.stringify(user || {"level":0}) %> 
	// console.log(userData)


</script>
