<%- include('include/header-top') %>
<link rel="stylesheet" href="css/homepage.css">

<%- include('include/header') %>

<!-- section homepage -->
<section>
	<div class="homepage-banner-area">
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
			<!-- indicators -->
			<ol class="carousel-indicators">
				<%for(var i = 0 ; i < slideIsMain.length; i++){%>
				<%if(i==0){%>
				<li data-target="#mycarousel" data-slide-to="<%=i%>" class="active"></li>
				<%}else{%>
				<li data-target="#mycarousel" data-slide-to="<%=i%>" class=""></li>
				<%}%>
				<%}%>
			</ol>

			<!-- wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<%if(slideIsMain && slideIsMain.length ){%>
				<%for(var i = 0 ; i < slideIsMain.length ; i ++){%>
				<%if(i==0){%>
				<div class="item active">
					<img src="/upload/slide/<%=slideIsMain[i].slideImage%>">
					<div class="carousel-caption ">
						<h2 class="wow fadeInDown" data-wow-duration="2s"><%=slideIsMain[i].slideTitle%></h2>
						<a href="<%=slideIsMain[i].slideLink%>" class="wow fadeInUp" data-wow-duration="2s">Xem thêm</a>
					</div>
				</div>
				<%}else{%>
				<div class="item">
					<img src="/upload/slide/<%=slideIsMain[i].slideImage%>">
					<div class="carousel-caption ">
						<h2 class="wow fadeInLeft" data-wow-duration="2s"><%=slideIsMain[i].slideTitle%></h2>
						<a href="<%=slideIsMain[i].slideLink%>" class="wow fadeInRight" data-wow-duration="2s">Xem thêm</a>
					</div>
				</div>
				<%}%>
				<%}%>
				<%}%>
			</div>
		</div>
	</div>
	<div class="new-product-area">
		<div class="container">
			<div class="introduce">
				<div class="row">
					<div class="introduce-content col-xs-4 wow fadeInLeft">
						<i class="fa fa-angellist" aria-hidden="true"></i>
						<p>Sản phẩm chất lượng cao</p>
					</div>
					<div class="introduce-content introduce-content-between col-xs-4 wow fadeInUp" data-wow-delay="0.5s">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<p>Giao hàng toàn quốc</p>
					</div>
					<div class="introduce-content col-xs-4 wow fadeInRight" data-wow-delay="1s">
						<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						<p>Dịch vụ hỗ trợ 24/7</p>
					</div>
				</div>
			</div>
			<div class="box-shadow">
				<img src="/img/homepage/shadow1.png">
			</div>
			<div class="new-product">
				<div class="new-product-menu">
					<div class="row">
						<div class="new-product-left col-xs-4 col-md-5 ">
							<p>sản phẩm mới nhất</p>
						</div>
						<div class="new-product-right col-xs-8 col-md-7">
							<ul>
								<%if(categoryMenu && categoryMenu.length){%>
								<%for(var i = 0 ; i < categoryMenu.length ; i++){%>
								<%if(i==0){%>
								<li class="product-active" id="product-<%=categoryMenu[i]._id%>" onclick=showProduct('<%=categoryMenu[i]._id%>')><%=categoryMenu[i].categoryName%></li>
								<%}else{%>
								<li class="" id="product-<%=categoryMenu[i]._id%>" onclick=showProduct('<%=categoryMenu[i]._id%>')><%=categoryMenu[i].categoryName%></li>
								<%}%>
								<%}%>
								<%}%>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-product-content" >
					<div class="row">
						<%if(productFirst && productFirst.length){%>
						<%for(var i =0 ; i < productFirst.length ;i++){%>
						
						<div class="new-item col-xs-12 col-sm-4  wow fadeInLeft " data-wow-duration="2s">
							<div class="product-thubnail">
								<img src="/upload/thumbProduct/<%=productFirst[i].productThumb%>">
								<div class="product-thubnail-hover product-thubnail-hover-more">
									<a href="/product/<%=productFirst[i]._id%>" class="">Xem Thêm</a>
								</div>
							</div>
							<div class="product-information">
								<h3><%=productFirst[i].productName%></h3>
								<p><%=productFirst[i].productColor[0].colorPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})%></p>	
							</div>
						</div>
						
						<%}%>
						<%}%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%if(slideNormal && slideNormal.length){%>
	<%for(var i = 0 ; i < slideNormal.length ; i++){%>
	<div class="background-product-area" style="background-image: url('/upload/slide/<%=slideNormal[i].slideImage%>')">
		<div class="background-product-content">
			<h2 ><%=slideNormal[i].slideTitle%></h2>
			<p ><%=slideNormal[i].slideContent%></p>
			<a href="<%=slideNormal[i].slideLink%>">Chi Tiết Sản Phẩm</a>
		</div>
	</div>
	<%}%>
	<%}%>

	<%- include('include/section-bottom')%>
</section>

<%- include('include/all-modal') %>

<%- include('include/footer') %>

<script type="text/javascript">
	var categoryMenu =  <%-JSON.stringify(categoryMenu)%>;
	if (categoryMenu && categoryMenu.length) {
		for (var i = 1; i < categoryMenu.length; i++) {
			$(`.new-product-content-${categoryMenu[i]._id}`).hide(500)
		}
	}

	function showProduct(id) {
		
		$.ajax({
			url: '/showProduct',
			type: 'GET',
			data: {
				id : id
			},
			dataType: 'json',
		}).done(function(results){
			// alert(results.showProduct)
			if (results.status) {
				var xhtml = '';
				if(results.showProduct && results.showProduct.length){
					for (var i = 0; i < results.showProduct.length; i++) {
						
						xhtml += '<div class="new-item col-xs-12 col-sm-4  wow fadeInLeft" data-wow-duration="2s">';
						xhtml += '<div class="product-thubnail">';
						xhtml += '<img src="/upload/thumbProduct/'+results.showProduct[i].productThumb+'">';
						
						xhtml += '<div class="product-thubnail-hover product-thubnail-hover-more">';
						xhtml += '<a href="/product/'+results.showProduct[i]._id+'" class="">Xem Thêm</a>';
						xhtml += '</div>';
						xhtml += '</div>';
						xhtml += '<div class="product-information">';
						xhtml += '<h3>'+results.showProduct[i].productName+'</h3>';
						xhtml += '<p>'+results.showProduct[i].productColor[0].colorPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</p>';	
						xhtml += '</div>';
						xhtml += '</div>';
					}
				}
				$('.new-product-content .row').html(xhtml)
			}
		})

	}



</script>

