<%- include('include/header-top') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/user.css">

<%- include('include/header')%>

<section>
	<div class="user-recommend-area">
		<div class="user-recommend">
			
			<%if(userCurrent.avatar == "" || userCurrent.avatar == "undefined" || userCurrent.avatar == undefined){%>
			<div class="user-recommend-thumb" style="background-image: url('/upload/avatar/noimage.jpg');">
			</div>
			<%}else{%>
			<div class="user-recommend-thumb" style="background-image: url('/upload/avatar/<%=userCurrent.avatar%>');">
			</div>
			<%}%>
			<div class="user-recommend-content">
				<p><%=userCurrent.userName%></p>
				<%if(userCurrent.level == 1 ){%>
				<span>Member</span>
				<%}else if(userCurrent.level == 2){%>
				<span>Silver Member</span>
				<%}else if(userCurrent.level == 3){%>
				<span>Gold Member</span>
				<%}else if(userCurrent.level == 4){%>
				<span>Platinum Member</span>
				<%}%>

			</div>
		</div>
	</div>
	<div class="user-info-area">
		<div class="container-fluid">
			<div class="user-info-left col-sm-3">
				<ul>

					<li class="user-info-left-profile  user-info-left" onclick="location.href='/user/<%=userCurrent._id%>'">
						<i class="fa fa-user"></i>
						<span>Thông tin cá nhân</span>
					</li>
					<li class="user-info-left-order user-info-left-active" onclick="location.href='/user/order/<%=userCurrent._id%>'">
						<i class="fa fa-shopping-cart"></i>
						<span>Lịch sử giao dịch</span>
					</li>
					<li class="user-info-left-trophy"  onclick="location.href='/user/trophy/<%=userCurrent._id%>'" >
						<i class="fa fa-trophy"></i>
						<span>Danh Hiệu</span>
					</li>
					<li class="user-info-left-pass" onclick="location.href='/user/change-pass/<%=userCurrent._id%>'">
						<i class="fa fa-key"></i>
						<span>Mật khẩu</span>
					</li>
				</ul>
			</div>
			<div class="user-info-right col-sm-9">
				<div class="user-info-main" style="float: left;width: 100%;">
					<div class="user-info-order">
						<h2 class="user-info-right-title">Lịch sử giao dịch</h2>'
						<div class="user-right-content">
							<table class="table table-hover" style="text-align:center">
								<thead>
									<tr>
										<th style="text-align:center">Mã Giao Dịch</th>
										<th style="text-align:center">Tổng tiền</th>
										<th style="text-align:center">Thời gian tạo</th>
										<th style="text-align:center">Thời gian cập nhật</th>
										<th style="text-align:center">Trạng Thái</th>
										<th style="text-align:center">Thao tác</th>
									</tr>
								</thead>
								<tbody>

								</tbody>

							</table>
							<div class="col-xs-12" style="text-align: center;" id="pagination-list-user"></div>
						</div>
					</div>
				</div>
			</div>


		</section>

		<%- include('include/all-modal') %>

		<%- include('include/footer') %>
		<script src="/js/user.js"></script>

		<script>
			var userCurrent = <%-JSON.stringify(userCurrent)%>

			$(document).ready(function(){
				showOderHistory(userCurrent._id,1)
			})

			
			function showOderHistory(userIdCurrent , page){
				
				$.ajax({
					url: '/user/showOrderHistory/list',
					type: 'get',
					data: {
						userIdCurrent : userIdCurrent,
						page: page
					},
					dataType: 'json',
      // dataType: 'json',
    }).done(function(results){
      // console.log(results.status)
     if(results.status == true){
      var xhtml = '';
  		// console.log(results.userInformation)


  		// console.log(results.userInformation.emailForeign[0].productInfos)
  		if(results.userInformation && results.userInformation.length){
  			for (var i = 0; i < results.userInformation.length; i++) {
  				xhtml += '<tr>';
  				xhtml += '<td style ="font-weight:bold">'+results.userInformation[i].emailForeign.billNumber+'</td>';
  				xhtml += '<td>'+results.userInformation[i].emailForeign.totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</td>';
  				xhtml += '<td>'+moment(results.userInformation[i].emailForeign.createdAt).format('DD-MM-YYYY')+'</td>';
  				xhtml += '<td>'+moment(results.userInformation[i].emailForeign.updatedAt).format('DD-MM-YYYY')+'</td>';
  				if (results.userInformation[i].emailForeign.status == 1 ) {
  					xhtml += '<td><span class="label label-primary">Đang xử lý</span></td>'
  				} else if (results.userInformation[i].emailForeign.status == 2 ) {
  					xhtml += '<td><span class="label label-success">Đã hoàn thành</span></td>'
  				}else if (results.userInformation[i].emailForeign.status == 3 ) {
  					xhtml += '<td><span class="label label-danger">Hủy bỏ</span></td>'
  				}else if (results.userInformation[i].emailForeign.status == 4 ) {
            xhtml += '<td><span class="label label-warning">Đang xác nhận</span></td>'
          }

          xhtml += '<td><a style="text-decoration : none ; cursor:pointer" data-toggle="modal" data-target="#modal-'+results.userInformation[i].emailForeign._id+'"><span class="label label-primary">Xem </span></a>';
          if(results.userInformation[i].emailForeign.status == 1 ){
           xhtml += '<a style="text-decoration : none ; cursor:pointer ; margin-left:10px;" onclick="confirmCompleted(\''+results.userInformation[i].emailForeign._id+'\')"><span class="label label-success"> Đã nhận hàng</span></a>'
         }
  				// Modal info
  				xhtml += '<div class="modal fade" id="modal-'+results.userInformation[i].emailForeign._id+'" role="dialog">';
  				xhtml += '<div class="modal-dialog orderDetails">';
  				xhtml += '<div class="modal-order-content modal-content">';
  				xhtml += '<div class="order-details id-recieved">';
  				xhtml += '<p>Mã Đơn hàng</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.billNumber+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>Trạng thái</p>';
  				
  				if(results.userInformation[i].emailForeign.status == 1){
  					xhtml += '<span class="label label-primary"  style="width:30%!important;padding-top:10px ; padding-bottom:10px;margin-left:10%;">Đang xử lý</span>';
  				}else if(results.userInformation[i].emailForeign.status == 2){
  					xhtml += '<span class="label label-success"  style="width:30%!important;padding-top:10px ; padding-bottom:10px;margin-left:10%;">Đã hoàn thành</span>';
  				}else if(results.userInformation[i].emailForeign.status == 3){
  					xhtml += '<span class="label label-danger" style="width:30%!important;padding-top:10px ; padding-bottom:10px;margin-left:10%;">Hủy Bỏ</span>';
  				}
  				xhtml += '</div>';
  				xhtml += '<div class="order-details user-recieved">';
  				xhtml += '<p>Người nhận hàng</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.clientName+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details address-recieved">';
  				xhtml += '<p>Địa chỉ nhận hàng</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.clientAddress+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details phone-recieved">';
  				xhtml += '<p>Số điện thoại</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.clientPhoneNumber+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details email-recieved">';
  				xhtml += '<p>Email</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.clientEmail+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>Ngày tạo đơn hàng</p>';
  				xhtml += '<span>'+moment(results.userInformation[i].emailForeign.createdAt).format('HH:mm , DD-MM-YYYY')+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>Ngày cập nhật đơn hàng</p>';
  				xhtml += '<span>'+moment(results.userInformation[i].emailForeign.updatedAt).format('HH:mm , DD-MM-YYYY')+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>Tổng hóa đơn (VNĐ)</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.billPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>Khuyến mãi (VNĐ)</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.billPromotion+' %</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details day-recieved">';
  				xhtml += '<p>tổng thanh toán (VNĐ)</p>';
  				xhtml += '<span>'+results.userInformation[i].emailForeign.totalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</span>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details details-recieved">';
  				xhtml += '<p>Chi tiết sản phẩm</p>';
  				xhtml += '</div>';
  				xhtml += '<div class="order-details product-recieved">';
  				xhtml += '<div class="order-details product-recieved-drop">';
  				xhtml += '<ul class="product-recieved-menu">';
  				xhtml += '<li>Sản Phẩm</li>';
  				xhtml += '<li>Hình ảnh</li>';
  				xhtml += '<li>Giá(VNĐ)</li>';
  				xhtml += '<li>Số lượng</li>';
  				xhtml += '<li>Thành tiền(VNĐ)</li>';
  				xhtml += '</ul>';
  				

  				if( results.userInformation[i].emailForeign.productInfos &&  results.userInformation[i].emailForeign.productInfos.length) {
  					for (var j = 0; j < results.userInformation[i].emailForeign.productInfos.length; j++) {	

  						xhtml += '<ul class="product-recieved-content">';
  						xhtml +='<li>'+results.userInformation[i].emailForeign.productInfos[j].productName+'</li>';
             
  						xhtml +='<li><img src="/upload/thumbProduct/'+results.userInformation[i].emailForeign.productInfos[j].productImage+'"></li>';
  						var pricePerProduct = parseInt(results.userInformation[i].emailForeign.productInfos[j].productPrice)/ parseInt(results.userInformation[i].emailForeign.productInfos[j].productQuantity)
  						xhtml +='<li>'+pricePerProduct.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</li>';
  						xhtml +='<li>'+results.userInformation[i].emailForeign.productInfos[j].productQuantity+'</li>';


  						xhtml +='<li>'+results.userInformation[i].emailForeign.productInfos[j].productPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})+'</li>';
  						xhtml += '</ul>';
  					}
  				}
  				xhtml += '</div>';
  				xhtml += '</div>';

  				xhtml += '</div>';
  				xhtml += '</div>';
  				xhtml += '</div>';

  				//End modal


  				xhtml += '</tr>';
  			}
  			$('.user-right-content table tbody').html(xhtml)
  		} else {
        console.log(results.status)
  			xhtml += '<tr><td>Bạn chưa có giao dịch nào !</td></tr>'
  		}

  		if(results.totalPage > 1) {
  			console.log(userCurrent._id)
  			var pagiHtml = '';
  			pagiHtml ='<ul class="pagination">';
  			if (results.page != 1){ 
  				var pagePriv = parseInt(results.page) - 1; 
  				pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="showOderHistory(\''+userCurrent._id+'\',1)"><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>  ';                  
  				pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="showOderHistory(\''+userCurrent._id+'\','+ pagePriv +')"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>';
  			}

  			var _begin =  results.page - 8; 
  			var _end = results.page + 8;
  			if (_begin < 1){ 
  				_begin = 1;
  			}
  			if (_end > results.totalPage ) {
  				_end = results.totalPage;
  			} 
  			for (var i = _begin; i <= _end; i++) {
  				if(results.page == i) { 
  					pagiHtml += '<li class="active" ><a href="javascript:void(0)">'+ i +'</a></li>';
  				} else { 
  					pagiHtml += '<li><a href="javascript:void(0)" onclick="showOderHistory(\''+userCurrent._id+'\','+ i +')">'+i+'</a></li>';
  				}
  			} 
  			if (results.page < results.totalPage ) {
  				var pageNext = parseInt(results.page) + 1; 
  				pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="showOderHistory(\''+userCurrent._id+'\','+ pageNext +')"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>';
  				pagiHtml += '<li class="" ><a href="javascript:void(0)" onclick="showOderHistory(\''+userCurrent._id+'\','+ results.totalPage +')"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>';
  			} 
  			pagiHtml += '</ul>';

  			$('#pagination-list-user').html(pagiHtml);
  		} else {
  			$('#pagination-list-user').html('');
  		}
  	}else {
      $('.user-right-content table tbody').html(results.msg)
    }
  })
}

function confirmCompleted(id){
	var status = 4 ;
	$.ajax({
		url: '/user/order/confirmCompleted',
		type: 'post',
		data: {
			status : status,
			id : id
		},
		dataType: 'json',
      // dataType: 'json',
    }).done(function(results){
     if (results.status == true) {
      $.confirm({
       title: 'Thông báo!',
       content:'<span class="text-success"><strong class="fa fa-check"></strong>Cảm ơn quý khách đã cập nhật đơn hàng thành công ! Nếu có thắc mắc , quý khách vui lòng liên hệ bộ phận hỗ trợ</span>',
       buttons: {
        'Ok': function () {
         window.location.reload();
       }
     }
   });
    }else{
      console.log(results)
      $.alert({
       title: 'Thông Báo !',
       content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>',
     })
    }
  })
  }


</script>