  <%- include('../include/admin-header-top') %>


  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  	<!-- Content Header (Page header) -->
  	<section class="content-header">
  		<h1>
  			Doanh thu bán hàng
  		</h1>
  	</section>

  	<!-- Main content -->
  	<section class="content ">
  		<div class="col-md-12">

  			<div class="form-group  col-md-6 ">
  				<div class="input-group">
  					<div class="input-group-addon">
  						<i class="fa fa-calendar"></i>
  					</div> 
  					<input type="text" class="form-control pull-right" id="reservationtime" name="date_time_start">
  				</div>
  			</div>
  			<button onclick="postTime()">Thống kê</button>
  			<!-- AREA CHART -->
  			<div class="nav-tabs-custom" style="margin-top: 50px;">
  				<!-- Tabs within a box -->
  				<ul class="nav nav-tabs pull-right">
  					<li class="active text-revenue-chart"><a href="#revenue-chart" data-toggle="tab"></a></li>
  					<!-- <li><a href="#sales-chart" data-toggle="tab">Donut</a></li> -->
  					<!-- <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li> -->
  				</ul>
  				<div class="tab-content no-padding">
  					<!-- Morris chart - Sales -->
  					<div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
  					<!-- <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div> -->
  				</div>
  			</div>
  		</div>

  	</section>
  	<!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../include/admin-footer') %>

  <%- include('../include/admin-control-sidebar') %>

  <%- include('../include/admin-js.ejs') %>

  <script>

  	function totalBillChart(){


  		var now = new Date();
  		var yearCurrent = now.getFullYear(), monthCurrent = now.getMonth()+1;
  		var lastDay = new Date(yearCurrent, monthCurrent, 0);

  		var timeBegin = yearCurrent+'-'+monthCurrent+'-01';
  		var timeEnd = yearCurrent+'-'+monthCurrent+'-'+lastDay.getDate();   

          // console.log(timeBegin);
          // console.log(timeEnd);

          $.ajax({
          	url: '/admin/revenue',
          	type: 'post',
          	data: {
          		timeBegin : timeBegin , 
          		timeEnd : timeEnd
          	},
          	dataType: 'json',
          }).done(function(results){
            // console.log(results.revenue)
            var dataChart = [];
            // console.log(results.revenue)
            if(results.revenue && results.revenue.length) {
            	for (var i = 0; i < results.revenue.length; i++) {
            		var perData = {}
            		perData.x = moment(results.revenue[i].createdAt).format('YYYY-MM-DD')
            		perData.total_bill = parseInt(results.revenue[i].totalBill)
            		dataChart.push(perData)
            	}
            }

            $("#revenue-chart").html("");

            var area = new Morris.Area({
            	element   : 'revenue-chart',
            	resize    : true,
            	data : dataChart,
            	xkey      : 'x',
            	ykeys     : ['total_bill'],
            	labels    : ['Tổng tiền bán (VNĐ)'],
            	lineColors: ['#FF6602'],
            	hideHover : 'auto'
            });

            

            // $('#revenue-chart').html(area);
            // $('.text-revenue-chart').text(dataChart[0].x.split("-").join("/") +' - ' +dataChart[dataChart.length-1].x.split("-").join("/"));
            $('.text-revenue-chart').text( moment(dataChart[0].x).format('DD/MM/YYYY') +' -- ' +moment(dataChart[dataChart.length-1].x).format('DD/MM/YYYY'));
        })
      } 



      $( document ).ready(function() {  	
      	totalBillChart();
        $('.bill-main').addClass('active')
        $('.revenue-statistical').addClass('active')
      	$('#reservationtime').daterangepicker({
      		timePicker: true, 
      		timePickerIncrement: 5, 
      		locale: {
      			format: 'YYYY/DD/MM h:mm A'
      		},
      	});
      })

      function postTime(){
          	// var timeInput = $('#reservationtime').val().split("-")
          	var timeBegin = new Date($('#reservationtime').data('daterangepicker').startDate._d).toISOString();
          	var timeEnd = new Date($('#reservationtime').data('daterangepicker').endDate._d).toISOString();
          	// var timeBegin = timeInput[0]
          	// var timeEnd = timeInput[1]

          	console.log(timeEnd)
          	console.log(timeBegin)

          	$.ajax({
          		url: '/admin/revenue',
          		type: 'post',
          		data: {
          			timeBegin : timeBegin , 
          			timeEnd : timeEnd
          		},
          		dataType: 'json',
          	}).done(function(results){
            // console.log(results.revenue)
            var dataChart = [];
            // console.log(results.revenue)
            if(results.revenue && results.revenue.length) {
            	for (var i = 0; i < results.revenue.length; i++) {
            		var perData = {}
            		perData.x = moment(results.revenue[i].createdAt).format('YYYY-MM-DD')
            		perData.total_bill = parseInt(results.revenue[i].totalBill)
            		dataChart.push(perData)
            	}
            }

            $("#revenue-chart").html("");

            // console.log(dataChart)
            var area = new Morris.Area({
            	element   : 'revenue-chart',
            	resize    : true,
            	data : dataChart,
            	xkey      : 'x',
            	ykeys     : ['total_bill'],
            	labels    : ['Tổng tiền bán (VNĐ)'],
            	lineColors: ['#FF6602'],
            	hideHover : 'auto'
            });
            // console.log(area)
            // $('#revenue-chart').html(area);
            // console.log(area)
             $('.text-revenue-chart').text( moment(dataChart[0].x).format('DD/MM/YYYY') +' -- ' +moment(dataChart[dataChart.length-1].x).format('DD/MM/YYYY'));
        })
          }
      </script>
