  <%- include('../include/admin-header-top') %>


  <%- include('../include/admin-header') %>

  <%- include('../include/admin-sidebar') %>

  <style type="">
  table.table.table-bordered , table.table.table-bordered>thead>tr>th {
    text-align: center;
  }

  table.table.table-bordered {
    width: 80%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  .add-newColor {
    margin : 20px 0;
    font-size: 3rem;
  }
  .add-searchColor {
    margin : 20px 0;
  }
  .add-searchColor input{
   padding-left: 10px;
   width: 25%;
   margin-left: 1%;
 }
 .add-searchColor select {
  width: 13%;
  margin-left: 1%;
}
.add-searchColor span {
  padding: 10px;
  font-size: 1.8rem;
  background-color: #3c8dbc !important;
  color: #fff;
  border-radius: 5px;
}

  /*span.label {
    font-size: 90%!important;
    }*/
    .button-active a {
      display: inline-block;
      font-size: 2rem;
      padding: 10px 30px;
      background-color: #dd4b39;
      color: #fff;
    }
  </style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  	<!-- Content Header (Page header) -->
  	<section class="content-header">
  		<h1>
  			Đơn hàng bị hủy bỏ
  		</h1>
  	</section>

  	<!-- Main content -->
  	<section class="content ">
      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Địa chỉ IP</th>
              <th>Số lần hủy đơn hàng</th>
              <th>Xử lý </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

        <div class="col-xs-12" style="text-align: center;" id="pagination-list-color">

        </div>
      </div>


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../include/admin-footer') %>

  <%- include('../include/admin-control-sidebar') %>

  <%- include('../include/admin-js.ejs') %>

  <script>

   $( document ).ready(function() {
     listIpCancel(1);
     $('.bill-main').addClass('active')
     $('.status-statistical').addClass('active')
   });

   function listIpCancel(page) {
    var bill_number = $('.bill-search').val();
    // console.log(bill_number)
    $.ajax({
      url: '/admin/statistical/listIpCancel',
      type: 'GET',
      data: {
        page : page
      },
      dataType: 'json',
    }).done(function(results){
      if (results.status) {

        // console.log(results.status);

        var xhtml = ''; 

        if (results.listIpCancel && results.listIpCancel.length) {
          for (var i = 0 ;  i <= results.listIpCancel.length - 1; i++) {


            xhtml += '<tr>';



            xhtml += '<td>'+results.listIpCancel[i].clientIp+'</td>';
            
            xhtml += '<td>'+results.listIpCancel[i].countClientIp+'</td>';

            xhtml += '<td><a href="javascript:void(0)" onclick="blockIp(\''+results.listIpCancel[i].clientIp+'\')"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Chặn</span></a></td>'


            xhtml += '</td>'
            xhtml += '</tr>';



          }
          $("table tbody").html(xhtml)

        }else{
         $("table tbody").html('Không tìm thấy!');
       }


     }
   })
  }

  function blockIp (ip){
    // console.log(ip)
    $.ajax({
      url: '/admin/statistical/postIpBlock',
      type: 'post',
      data: {
        ip : ip
      },
      dataType: 'json',
    }).done(function(results){
      console.log(results)
      if (results.status == true) {
        $.confirm({
          title: 'Thông Báo!',
          content: '<span class="text-success"><strong class="fa fa-check"></strong>'+results.msg+'</span>',
          buttons: {
            Ok: function () {
              // $.alert('Ok');
              window.location.replace("/admin/user/ipblocked");
            },
          }
        });
      }else{
        $.alert({
          title: 'Thông Báo !',
          content: '<span class="text-danger"><strong class="fa fa-close"></strong>'+results.errors[0].msg+'</span>'
        })

      }
    })
  }


</script>
