</head>
<body>

	<!-- header homepage -->

	<!-- header xs-sm -->

	<header class="header-xs visible-xs visible-sm">
		<div class="header-xs-title">
			<a href="/"><img src="/img/homepage/logo.png"></a>
		</div>
		<div class="header-xs-content">
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-bars bar-item" aria-hidden="true">
				</i>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<a href="#">
					<i class="fa fa-user" aria-hidden="true"></i>
				</a>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<div class="header-xs-content-item col-xs-3">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			</div>
		</div>
		<div class="header-xs-details">
			<a href="">Laptop</a>
			<a href="">bàn phím</a>
			<a href="">chuột</a>
			<a href="">tai nghe</a>
			<a href="">mousepads</a>
			<a href="">cặp , ba lô , túi gaming</a>
			<a href="">game pad</a>
			<a href="#">Combo Gaming Gear</a>
			<a href="#">Sản phẩm giảm giá</a>
		</div>
		<div class="header-xs-search">
			<input type="text" name="" placeholder="tìm kiếm">
		</div>
		<div class="header-xs-cart">
			<h3>giỏ hàng</h3>
			<p>hiện không có sản phẩm nào trong giỏ hàng của bạn</p>
			<a href="">tiếp tục mua hàng</a>
		</div>
		<div class="header-xs-user">
			<div class="header-xs-login col-xs-6">
				<p>đăng nhập</p>
			</div>
			<div class="header-xs-singin col-xs-6">
				<p>đăng ký</p>
			</div>
			<div class="modal-form-login header-xs-form-login">
				<h5 class="form-login-title">
					đăng nhập
				</h5>
				<form>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="tài khoản">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="mật khẩu">
					</div>
					<div class="form-button-wrapper">
						<input type="submit" name="" value="đăng nhập">
						<a href="">quên mật khẩu?</a>
					</div>
				</form>
			</div>
			<div class="modal-form-singin header-xs-form-singin">
				<h5 class="form-singin-title-right">
					đăng ký
				</h5>
				<form>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="tài khoản">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="mật khẩu">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="xác nhận mật khẩu">
					</div>
					<div class="form-input-wrapper">
						<input type="text" name="" placeholder="email">
					</div>
					<div class="form-button-wrapper">
						<input type="submit" name="" value="đăng ký">
					</div>
				</form>
			</div>
		</div>
	</header>



	<!-- header md -->
	<header class="nav-wrap hidden-xs hidden-sm">
		<nav class="navbar navbar-default navbar-default-header">
			<div class="container-fluid">
				<div class="navbar-header col-md-2">
					<a href="/"><img src="/img/homepage/logo.png"></a>
				</div>
				<div class="navbar-menu navbar-menu-items col-md-8">
					<ul class="nav navbar-nav" >
						<% if(categoryMenu && categoryMenu.length) {%>
						<% for(var i=0 ; i<categoryMenu.length; i++) {%>
						<li class="navbar-item"><a href="/category/<%=categoryMenu[i].categoryNameSummary%>"><%=categoryMenu[i].categoryName%></a></li>
						<%}%>
						<%}%>
						
						<li class="navbar-item navbar-item-dropdown">
							<a href="#" class="dropbtn">
								sản phẩm khác
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
							<div class="dropdown-content">
								<% if(categoryDropDown && categoryDropDown.length) {%>
								<% for(var i=0 ; i < categoryDropDown.length; i++) {%>
								<a href="/category/<%=categoryDropDown[i].categoryNameSummary%>"><%=categoryDropDown[i].categoryName%></a>
								<%}%>
								<%}%>
							</div>
						</li>	
					</ul>
				</div>
				<div class="navbar-menu-right col-md-2">
					<ul class="nav navbar-nav navbar-nav-right" >
						<%if(!user){%>
						<li class="navbar-item">
							<a href=# class="btn btn-lg" data-toggle="modal" data-target="#login-modal">
								<i class="fa fa-user" aria-hidden="true"></i>
							</a>
						</li>
						<%}else{%>
						<li class="navbar-item navbar-item-dropdown">
							<a href="#" class="btn btn-lg">
								<i class="fa fa-user" aria-hidden="true"></i>
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
							<div class="dropdown-content dropdown-content-user" style="right: 0;min-width: 200px;
							text-align: center;">
							<a href="/user/<%=user._id%>">Trang cá nhân</a>
							<a href="/user/logout">Đăng xuất</a>
						</div>
					</li>
					<%}%>
					<li class="navbar-item">
						<a href="#" data-toggle="modal" data-target="#search-modal">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</li>
					<li class="navbar-item ">
						
						<a href="#" onclick="openCart()" data-toggle="modal" data-target="#cart-modal" data-direction='right'>
							<i class="fa fa-shopping-cart" aria-hidden="true" style="position: relative;"></i>
							<p class="number-product-cart" style="position: absolute">0</p>
						</a>
						
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>